[2019-02-04 16:04] GenaBitu opened #2 "Exception when trying to run the app"
Hi,
I've tried cloning the repository, changing the manifest overrides and applicationId in `app/build.gradle`, running enable-debug.sh and I get the following exception when trying to run the app:

[code]

My device is the Xiaomi Mi A2 Lite, running Android One, Android version 9 with build version `PKQ1.180917.001.V10.0.3.0.PDLMIXM`. I am running Chrome version `72.0.3626.76`, the latest I can g

[2019-02-04 16:05] GenaBitu commented on #2
I get the same result in AVD as well

[2019-02-05 10:49] andreban commented on #2
This looks like an issue in the Support Library. Would you mind filing a bug report against it using this [template](https://code.google.com/p/chromium/issues/entry?summary=Issue%20Summary&comment=Application%20Version%20(from%20%22Chrome%20Settings%20%3E%20About%20Chrome%22):%20%0DAndroid%20Build%20Number%20(from%20%22Android%20Settings%20%3E%20About%20Phone/Tablet%22):%20%0DDevice:%20%0D%0DSteps

[2019-02-05 10:50] GenaBitu commented on #2
Hi, thanks, will do.

[2019-02-05 10:57] GenaBitu commented on #2
https://bugs.chromium.org/p/chromium/issues/detail?id=928701

[2019-02-06 07:58] BramYeh opened #3 "Update TWA Cookies"
Since TWA supports first party website, is any possible solution that we can update/sync cookies between TWA and Native parts?

Thanks very much!

[2019-02-10 12:52] BamiGorengo opened #4 "Digital Asset Links dont work?"
I read this Docu: https://developers.google.com/web/updates/2019/02/using-twa#remove_the_url_bar

So i created: https://ausgaben-rechner.firebaseapp.com/.well-known/assetlinks.json

And edit the `manifestPlaceholders` in https://github.com/GoogleChromeLabs/svgomg-twa/blob/master/app/build.gradle#L38

But after build i still see the URL Bar... Is there maybe any bug?

[2019-02-11 08:18] andreban commented on #3
Hi BramYeh,

It isn't currently possible to update/sync cookies between TWA and Native parts. The best way to exchange information between both is through Intents.

[2019-02-11 08:18] #3 closed

[2019-02-11 08:19] andreban commented on #2
Thanks! Closing the bug here to follow-up on Chromium.

[2019-02-11 08:19] #2 closed

[2019-02-11 08:23] andreban commented on #4
There are a few places where the configuration may be wrong, and it's hard to diagnose without looking at the files. Can you please double-check:

- If the package name on https://ausgaben-rechner.firebaseapp.com/.well-known/assetlinks.json matches the package name from your app.
- If the SHA-256 Fingerprint matches your keystore fingerpring.
- If the URL in asset_statements matches the URL in you

[2019-02-11 10:55] BamiGorengo commented on #4
Sorry that i dont include directly a Repository link in my first post: https://github.com/BamiGorengo/ExpenseCalculatorTWA

I think i did everything correctly.

[2019-02-11 12:39] BramYeh commented on #3
@andreban
Thanks for your information.

[2019-02-12 11:07] amituidev opened #5 "Is there way to launch APP in fullscreen UI with no browser controls ?"
Hi,

Is there way to launch the app in fullscreen without browser control options.
Currently its looking like this ->

![](https://i.ibb.co/JyGBQTx/Screenshot-2019-02-12-15-51-27-118-com-chrome-canary.png)

[2019-02-12 11:20] andreban commented on #4
Source code looks ok. Is the app published on the Play Store? I can try installing and checking the signatures.

[2019-02-12 11:23] BamiGorengo commented on #4
yeah it is, it a closed test. When you give me your gmail address, then i can add you to the testers list.

[2019-02-12 11:34] andreban commented on #4
Same as my Github username :)

[2019-02-12 11:36] BamiGorengo commented on #4
Thanks :)

https://play.google.com/apps/internaltest/4698262063010324100

[2019-02-12 13:06] BamiGorengo commented on #4
Die you do some changes? The URL bar is gone. This is really strange. Because i do nothing science yesterday. Is it possible that this stuff simply needs some time to get aplyed?

[2019-02-12 13:08] BamiGorengo commented on #5
Take a look on my issue :)

https://github.com/GoogleChromeLabs/svgomg-twa/issues/4

[2019-02-12 13:12] amituidev commented on #5
Thank you @BamiGorengo

[2019-02-12 13:17] andreban commented on #4
Nothing changed.

One possible cause is the version of the Support Library being used. The version in the demo had an issue that showed the URL Bar when the TWA is opened and Chrome is being cold-started. Updating the Support Library version fixes the issue:

[code]

[2019-02-12 13:26] tirthbodawala commented on #4
I am facing a similar issue with below dependencies:
[code]
Apologies, I am nood with android development. I used the tool https://appmaker.xyz/pwa-to-apk/ and it shows me the url bar.

[2019-02-12 13:32] andreban commented on #4
@tirthbodawala Is `.well-known/assetlinks.json` acessible from your domain? I think the tool provides the relevant file to upload to this location. Can you check if the content-type is `application/json`?

[2019-02-12 13:35] tirthbodawala commented on #4
@andreban there was an error in rendering `.well-known/assetlinks.json` I have corrected it at
https://hn.reactpwa.com/.well-known/assetlinks.json
Do I need to update the app or do anything further?

[2019-02-12 13:40] andreban commented on #4
@tirthbodawala, if the tool generated everything correctly yes. Btw, since this is not related to the SVGOMG demo, http://stackoverflow.com/questions/tagged/trusted-web-activity/ is a good place to post the question.

[2019-02-12 21:46] BamiGorengo opened #7 "android:statusBarColor buggy?"
I updated the `minSdkVersion` to version `21` and add to the stylings:

`<item name="android:statusBarColor">@color/ic_launcher_background</item>`

For a very short moment when the app gets initialized i see the correct color. but it seems that after this first init the app starts the web view and the statusbar turns into white. Is it possible that this is a bug?

**by the way... isnt it possible

[2019-02-13 12:50] andreban commented on #7
Would you mind posting the question on StackOverflow: https://stackoverflow.com/questions/tagged/trusted-web-activity/

It makes it easier for other developers with the same issue to find the solution, and for other developers to help with answers too.

[2019-02-13 12:53] BamiGorengo commented on #7
Oh i did: https://stackoverflow.com/questions/54659396/android-studio-change-statusbarcolor-of-webview

But it seems that not many peoples have tryed with TWA stuff yet :) but i understand that this is the wrong place for questions.

[2019-02-14 03:46] andreban commented on #7
Answered the question on StackOverflow. Closing the issue here.

[2019-02-14 03:46] #7 closed

[2019-02-14 03:47] andreban commented on #4
Closing the issue as the original question was an answered and solved.

[2019-02-14 03:47] #4 closed

[2019-02-14 03:48] andreban commented on #5
Duplicate of #4

[2019-02-14 03:48] #5 closed

[2019-02-18 11:13] a-haan commented on #7
Hi @BamiGorengo  would you mind sharing a Gist of the changes you made to LauncherActivity.java - I've followed the stack question but still having issues such as:

Cannot resolve method 'showNoPackageToast(

Cannot resolve method 'promptForChromeUpdateIfNeeded

Cannot resolve method 'warmupIsRequired

launchAsTrustedWebActivity() in TrustedWebUtils cannot be applied to:
Expected Parameters:
Actua

[2019-02-18 18:05] BamiGorengo commented on #7
@a-haan I will write a article about this when im back home in 3 days. meanwhile you can take a look on my article where i explain some stuff: https://link.medium.com/9vVurMuhoU

there is also a link to stack overflow where you can read all you need to do the thing with the statusBar.

[2019-02-18 21:24] a-haan commented on #7
@BamiGorengo Thank you, interesting read! I've got mostly everything setup except for the status color bar, so looking forward to your guide 👍

[2019-02-19 11:08] andreban commented on #7
There's a Chrome issue open to improve the process of changing the status bar color, without having to copy LauncherActivity [here](https://bugs.chromium.org/p/chromium/issues/detail?id=930096&can=1&q=reporter%3Ame%20&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified)

[2019-02-19 16:04] BamiGorengo commented on #7
@andreban good news. thanks for this. can you maybe share me any that helps me with writing a tutorial for adding a splash screen that waits that the chrome instance is finish loaded before it fades out?

[2019-02-19 17:07] andreban commented on #7
@BamiGorengo this sample from [CustomTabs](https://github.com/GoogleChrome/custom-tabs-client/blob/master/demos/src/main/java/org/chromium/customtabsdemos/ServiceConnectionActivity.java) helps with that. We're looking into how to make this easier using LauncherActivity too, so it may be worth waiting a bit too.

[2019-02-19 17:37] a-haan commented on #7
@BamiGorengo @andreban I've got a feeling the instructions you provided in the Stack question didn't work because my project was built by PWA2APK originally, I will build again from scratch and see if that works okay.  I get odd issues atm that appear on my app such as a crash on startup if my default browser is Samsung or Firefox.  Yet @BamiGorengo App doesn't have the same issues...

[2019-02-19 18:34] BamiGorengo commented on #7
@andreban hmmm i cant find any code snippet there that seems to do any splash screen stuff... it make not maybe more sense to use the web manifest to automate the statusBar color and Splash screen? that make for me most sense...

[2019-02-20 00:35] a-haan commented on #7
@BamiGorengo @andreban rebuilt now all working as expected including the toolbar colour, no more crashes as you'd expect!

I can seem to find a similar way to change the navbar colour to dark instead of light mode though, which is a shame because my PWA is in darkmode

[2019-02-23 10:06] uwolfer opened #9 "Support Splash Screen?"
When I add a PWA to homescreen with Chrome on Android, an APK is generated which displays the splash screen as defined in the manifest file.

Is there an easy way to define a splash screen with TWA? It displays a white screen currently (as defined [here](https://github.com/GoogleChromeLabs/svgomg-twa/blob/master/app/src/main/res/values/styles.xml#L18)).

[2019-02-25 10:52] BamiGorengo commented on #9
An automaticly usage of the webmanifest would be awesome. but if this isnt possible a predefined default styling which is easy to customize would be awesome here.

[2019-02-25 10:59] BamiGorengo opened #10 "Support Library update?"
@andreban you posted in https://github.com/GoogleChromeLabs/svgomg-twa/issues/4#issuecomment-462755224 this:

One possible cause is the version of the Support Library being used. The version in the demo had an issue that showed the URL Bar when the TWA is opened and Chrome is being cold-started. Updating the Support Library version fixes the issue:

[code]

If the Support Library is outdated or co

[2019-02-25 16:25] andreban commented on #10
The sample has been updated with a version of the Support Library that fixes this issue and allows changing the status-bar colour on #8.

[2019-02-25 20:54] Buom01 commented on #9
I have a partial solution:
Set the default view and arrange it to make it show  like a splashscreen. It will be showed when chrome is launching.
It works quite good for me, but there are a white flickering when chrome is opening and loading page

But it permit to keep the status-bar's color stable and is quite simple to set up.

[Creating a gist...........]

---

Else I suppose that you should loo

[2019-02-26 09:46] BamiGorengo commented on #10
oh awesome! Thank you! :)

[2019-02-26 11:34] #10 closed

[2019-03-14 23:14] Dvelezs94 opened #12 "Support for Crashlytics"
Some devices are crashing with a blank screen or just freeze, so I want to add crashlytics but I cannnot find the file MainActivity.java, which leads me to think that it is not supported here, can you please confirm?

Thanks

[2019-03-15 09:16] andreban commented on #12
LauncherActivity.java is part of the Support Library and can be found [here](https://github.com/GoogleChrome/custom-tabs-client/blob/master/customtabs/src/android/support/customtabs/trusted/LauncherActivity.java).

Regarding the crashing with a blank screen / freeze, we just released a new version of the Support Library that should fix crashes when the user's default browser doesn't support TWA, a

[2019-03-17 01:09] Dvelezs94 commented on #12
thank you @andreban ! it does work. It shows the top address bar but at least it doesnt crash anymore. Just FYI, it seems that the people having these issues were on samsung devices (some on s9). I dont know if samsung does not support TWA but well i guess its just matter of time for their browser to support it.

Thank you very much for the fix you rock!

[2019-03-17 01:09] #12 closed

[2019-03-21 03:45] WagnerMoreira opened #14 "twa has assetLinks but is still opening with address bar"
Hello, I am experiencing the same kind of issue that was seen here: https://github.com/GoogleChromeLabs/svgomg-twa/issues/4

my angular app served w/ https on firebase hosting: https://pwa-demo-5dcd2.firebaseapp.com/

asset links: https://pwa-demo-5dcd2.firebaseapp.com/.well-known/assetlinks.json

I put the app to beta test: you can install it here: https://play.google.com/apps/testing/com.wm.pwae

[2019-03-21 04:05] WagnerMoreira commented on #14
found the solution, please close this issue
I had changed `package` on androidManifest as well but it should be `package="com.placeholder"` as default

[2019-04-03 04:17] Dvelezs94 opened #15 "Firebase Notifications"
hello, i want to know if for this kind of apps we can integrate FCM. my idea is to generate the token, then save it as a cookie(if possible), then save that cookie from the backend server.

Thank you!

[2019-04-11 03:52] LookRain opened #16 "Asset links configured correctly but still opening in a tab."
Hi I have tried building my PWA to apk but it still opens the app in a tab view after many attemps. Here's what I'm currently doing:
- I have my PWA at `https://staging.ratex.co/home`,
- my assetlinks is at `https://staging.ratex.co/.well-known/assetlinks.json`, and it passes the 'Statement List Generator and Tester' test
- my `manifestPlaceholders` is:
[code]

Is there anything I'm doing wrong? W

[2019-04-12 12:30] navinSing opened #17 "twa has assetLinks but is still opening with address bar"
how wil the gradle config look like if it is a path on a site .. example : https://a.b.com/myPWA

I am getting the address bar in my app.
Here is the gradle file:
[code]
Is site the fullpath or root url ?

my home page is at
`https://a.b.com/myPWA`
and my service worker is under the same

i have the asset link and manifest.json, still it is showing up the

I am still seeing the address bar. What a

[2019-04-15 09:49] andreban commented on #16
The `assetStatements` section needs to have only the origin on the `site` attribute. Try replacing `https://staging.ratex.co/home` with `https://staging.ratex.co` in that section.

Would you be able to move this question to StackOverflow? There's a [specific tag for Trusted Web Activities](https://stackoverflow.com/questions/tagged/trusted-web-activity/) and it makes easier for other developers ru

[2019-04-15 09:56] andreban commented on #17
Would you be able to link to your assetlinks.json file?

[2019-04-15 09:56] #14 closed

[2019-04-16 03:38] LookRain commented on #16
@andreban Hi thanks for the reply. I've actually tried both for the `site` attribute, neither of them worked.
I've given up on converting my PWA to apk, guess I'll wait until there's more documentation and hints for possible errors for this technology.

[2019-04-16 05:56] navinSing commented on #17
yes i am able to access
https://a.b.com/.well-known/assetlinks.json in browser

[{"relation":["delegate_permission/common.handle_all_urls"],"target":{"namespace":"android_app","package_name":"zzz.a.b.com","sha256_cert_fingerprints":["............................."]}}]

Access-Control-Allow-Headers: Origin, Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, X-Api-Version, X-Re

[2019-04-16 12:26] andreban commented on #16
Hi @LookRain, the Digital AssetLinks part can be tricky to get right, as it has a few moving pieces and they all need to match correctly. I'm happy to help figure out what is missing in your implementation. Would you be able to share and APK I can look at?

[2019-04-16 17:58] navinSing commented on #17
Any idea what is wrong.(What all things i should verify)
I still see address bar

i rebuild the app and published again.. but still showing up the address bar

please help

[2019-04-17 08:30] andreban commented on #17
Hi @navinSing, if you have the APK published somewhere, I'd be happy to take a look in it and help understand what is going wrong.

[2019-04-17 10:33] navinSing commented on #17
Please find the apk

[app-release.zip](https://github.com/GoogleChromeLabs/svgomg-twa/files/3089169/app-release.zip)

[2019-04-17 11:13] andreban commented on #17
The APK and the site are configured correctly, and I'm able to see it working on my device.
![Screenshot_20190417-120803](https://user-images.githubusercontent.com/1733592/56283474-c3dab100-6109-11e9-8855-a82d16e32178.png)

Could you confirm the Android version (Settings > System > About Phone) and the Chrome version (chrome://version) you have installed?

[2019-04-17 11:49] navinSing commented on #17
yes .. may be ..

Android version (Settings > System > About Phone)
7.0 NRD90M

Chrome version (chrome://version) you have installed?
72.0.3626.105

[2019-04-17 11:58] navinSing commented on #17
I am available on hangout : shravan.navin@gmail.com

[2019-04-20 13:23] navinSing commented on #17
note: add to home screen works. But path does not.

[2019-04-23 15:21] Gedoba opened #18 "Detecting if the PWA is installed."
Hey, I'm trying to detect if PWA is installed using TWA. But this answer does not work in this case.
https://stackoverflow.com/questions/21125337/how-to-detect-if-web-app-running-standalone-on-chrome-mobile
(It does in case of nonTWA PWA). Any ideas?

[2019-04-23 15:46] andreban commented on #18
Hi @Gedoba.

Does this help: https://stackoverflow.com/questions/54580414/how-can-i-detect-if-my-website-is-running-inside-a-trusted-web-actvity

[2019-04-25 09:53] Gedoba commented on #18
It works indeed!
To summarize I used: document.referrer.includes('android-app://'), which returns true if it comes from TWA.

[2019-05-03 11:04] vlasovilya opened #20 "Web Push doesn't open app, if the app is in background"
Web Push click does open the app if the app is fully closed, but if it is in background click does nothing.

Service worker code:

`self.addEventListener('notificationclick', function(event){
        event.notification.close();
        event.waitUntil(clients.matchAll({
           type: "window"
        }).then(function(clientList) {

            var url=event.notification.data.url || '/';

[2019-05-17 14:59] andreban commented on #9
Chrome 75 will support Splash Screens. We have added support for the markup needed on #23.

[2019-05-17 14:59] #9 closed

[2019-05-17 15:00] andreban commented on #15
Firebase Cloud Message for Web should work as expected inside a TWA. You can find more information here: https://firebase.google.com/docs/cloud-messaging/js/receive

[2019-05-17 15:01] andreban commented on #18
Closing this, as the question has been answered.

[2019-05-17 15:01] #18 closed

[2019-05-17 15:09] Dvelezs94 commented on #15
They do work as expected, the problem is when saving the token to a certin user when you have a log in on your website, because you cannot access local storage, so there is no way(at least native) we can connect the generated token to the user. But I think I just found a workaround

If anybody is having this issue here is what I came up with. It may not be the best solution but it works

1. Genera

[2019-05-17 15:24] andreban commented on #15
Hi @Dvelezs94

I'm not sure I understand what is not working. Can you provide my details? It seems you are generating the FCM token on the Native side. Is that correct?

Andre

[2019-05-17 15:26] Dvelezs94 commented on #15
@andreban yes that is correct, and because the TWA code cannot access the PWA code, the token cannot be shared except if you implement some hacky method like the one I mentioned in the previous comment

The reason Im generating the token in the TWA side is because i want to have native notifications, not web notifications

[2019-05-17 15:43] andreban commented on #15
Gotcha - Chrome 75 will enable notification delegation. There's more information on how to enable it and how it works [here](https://github.com/GoogleChrome/custom-tabs-client/blob/26aa6744970790de086e92014aebf543b4585fb7/customtabs/src/android/support/customtabs/trusted/TrustedWebActivityService.java#L56-L94).

On this case, it would be possible to use the Web APIs, but delegate showing the notif

[2019-05-17 15:54] Dvelezs94 commented on #15
the problem with that is, browsers other than chrome will not receive the notifications, thats why native is much better at this point :/. I didn't know that capability tho, it seems interesting, but until other browsers support that feature, its hard for me to go with it

[2019-05-20 13:59] FluorescentHallucinogen opened #24 "Splash screen doesn't work"
Pull request #23 was merged into `master` recently. I've cloned the `master` branch and built the app, but I don't see the splash screen.

@andreban Have you tested the PR before merging?

[2019-05-20 14:01] andreban commented on #24
Are you using Chrome Canary for testing?

[2019-05-20 14:12] FluorescentHallucinogen commented on #24
I've changed the WebView provider in Android developer options from Chrome to Chrome Canary, but it didn't help.

Only removing (freezing) Chrome Stable helps.

[2019-05-20 14:20] #24 closed

[2019-05-20 14:24] andreban commented on #24
@FluorescentHallucinogen

Trusted Web Activities are a browser feature, and not part of the WebView API. You can set Chrome Canary to be the default browser, so you won't have to uninstall Stable. Go to:

Settings > Apps & notifications > Advanced > Default Apps > Browser app

and select Chrome Canary. Make sure to close and re-start the app so it runs on Canary on the next start.

[2019-05-20 14:27] FluorescentHallucinogen commented on #24
@andreban Thanks!

[2019-05-21 22:06] stephen-cloete opened #27 "Google Sign-In on twa Error when Users signed in on Chrome"
Hi

I'm having an issue within my twa application when logged into Chrome on Android and attempting to login to my website via Google Sign-In. The error is resolved only when I am logged out of Chrome.

[2019-05-21 22:12] #27 closed

[2019-05-27 09:00] #15 closed

[2019-05-27 09:00] #16 closed

[2019-05-29 13:28] Dvelezs94 commented on #15
@andreban im pretty new to android development, so can you please help me on this part?

I am trying out your suggestion, but idk how to exactly put that "service" in my android manifest file

Here is my AndroidManifest

[code]

Thanks in advance

[2019-05-29 13:34] leandro2ki commented on #17
I'm getting the same issue here. I'm still seeing my url bar from my app and when I add it to home screen then url bar disapear.  Anyone has a solution for it?

[2019-05-29 13:42] andreban commented on #17
@leandro2ki Is there anywhere I can download the APK to check it out?

[2019-05-29 13:44] andreban commented on #15
#25 adds notification delegation. Does the diff help you?

[2019-05-29 14:02] Dvelezs94 commented on #15
I tried it and i receive the notification, but as if it was from the browser, not from the app. So basically I get the same result as if I didn't have that option. So im not sure what that does exactly

[2019-05-29 14:05] andreban commented on #15
Is the problem that you are getting the Chrome icon when receiving the notification?

[2019-05-29 14:30] Dvelezs94 commented on #15
I see the difference now, it is more native-like. The problem is still that the notification doesnt arrive if chrome wasn't opened recently. and I dont think its a resource issue because I have a huawei mate 20, So do you know a way to get the notification, even when the app or the browser have been closed for a while? - thats why I think implementing native notifications would be much more effici

[2019-05-29 14:37] leandro2ki commented on #17
@andreban

I did not publish my app yet because I'm afraid this behaviour is happening for all users.

My question is if the url bar will disapear after I publish my app on Play Store and it is expected when I'm installing my app locally on my device?

Bellow the image using this project example and installed the apk directly from Android Studio on my device:

![image](https://user-images.githubus

[2019-05-29 15:16] andreban commented on #17
@leandro2ki It seems the assetlinks validation is failing. Configuring Digital AssetLinks has a few moving parts. If you can make the APK or the source code available I can check if there are any issues with the configuration. Otherwise, we need to confirm its a bug and create an issue in Chrome. Feel free to share the APK on e-mail, if that helps. My e-mail is the same as my Github username, but

[2019-05-29 19:01] leandro2ki commented on #17
@andreban I sent you an e-mail with my apk. I'll appreciate if you could take a look there. Thanks.

[2019-05-31 09:54] andreban commented on #15
Interesting - notifications should definitely arrive. Could you try disabling battery optimisations and check if the notifications arrive in that case?

I've seen phones with more radical battery optimisations killing background services before and I wonder if that's the case.

(Not sure if [this doc](https://consumer.huawei.com/uk/support/faq/smart-power-saving-management-for-a-longer-battery-lif

[2019-06-02 01:47] Dvelezs94 commented on #15
ill try that and let you know when thats done, thanks for the tip!

[2019-06-02 02:19] Dvelezs94 commented on #15
seems its working! One last thing, based on your commit, you can set the badge and notification icon right? well that option doesnt work for me, it just shows the chrome icon (on the status bar), and when expanding the bar i get a blank icon. any idea? I have tried with svg, png assets

[2019-06-03 10:55] SvenBudak opened #30 "Splash Screen Icon?"
Hi @andreban

Thanks for the Update with Splash Screen Support :) But... can you maybe also add a option that allow people to add a Splash Screen Icon?

[code]

Currently is it not possible. I was just wondering why i just see a white Screen when i started the App first time...

[2019-06-03 11:40] andreban commented on #30
Have you generated a new splash image for each resolution? Below is the list of files and the resolution used for each image:

- res/drawable-hdpi/splash.png - 450 x 450px
- res/drawable-mdp/splash.png - 300 x 300px
- res/drawable-xhdpi/splash.png - 600 x 600px
- res/drawable-xxhdpi/splash.png - 900 x 900px
- res/drawable-xxxhdpi/splash.png - 1200 x 1200px

[2019-06-03 11:54] SvenBudak commented on #30
Hmm no i dont, but there was still the default images placed.
But they also was not displayed by loading the TWA.

My Second Question: I right clicked on the res folder and generate new img assets. why the splash screens was not also generated?

[2019-06-03 11:59] andreban commented on #30
Can you confirm if you are seeing the splash screen?

If you are and you have replaced the icons inside the res/ folder, make sure to rebuild the APK and redeploy the new version, and that should be enough to make it work.

Could you explain more about the second questions? I don't think I understood it.

[2019-06-03 12:05] SvenBudak commented on #30
I see only a white screen when i start the App. I already rebuild and clean all project data before i did that. But still no Splash Screen.

To my Second Question:
![1_gTpOQWO2q8PL74KVEzQvYA](https://user-images.githubusercontent.com/4930169/58800591-92aa3780-8608-11e9-8e63-85b4bd5f542b.png)
I did this to generated the App Icons, but this dosnt generated the Splash Icons. So how i create them in a

[2019-06-03 12:22] andreban commented on #30
Yes, using something like photoshop and generating manually is the best way. Save them as .pngs and place on the folders mentioned above. Are you using Chrome 75 or above (currently Beta or Canary)?

[2019-06-03 12:39] SvenBudak commented on #30
We tested on Version 74.0.3729.169. is it not available until 75? if this is the case, this will explain our problem.

[2019-06-03 15:16] andreban commented on #30
Yes, that's correct. It only works on 75 and up.

[2019-06-03 16:36] SvenBudak commented on #30
Oh okay... Thanks :) you want maybe to edit the readme or leave a comment in the config array to let people know how they edit the splash icon?

[2019-06-03 16:36] SvenBudak commented on #30
Oh okay... Thanks :) you want maybe to edit the readme or leave a comment in the config array to let people know how they edit the splash icon?

[2019-06-09 19:56] SvenBudak commented on #30
For some reason in germany we still have chrome 74. when 75 is out i will test this. Thanks for the informations! One small ohter question because i cant find anything at google about this... Is it possible to pass variables from the TWA container into the PWA web app? Like `currentLanguage` or something like that?

[2019-06-10 09:21] andreban commented on #30
You can use query parameters or custom headers to pass information when opening the TWA. Does this help?

[2019-06-10 10:53] SvenBudak commented on #30
Because this TWA wrapper is the first time i come in contact with Android Studio and real Java Code, i have some problems to follow oyu. can you give me maybe a very short and simple example how to pass a variable from the TWA Wrapper to the PWA?

[2019-06-11 08:14] LukasSarnowskiC9 commented on #20
I have the same problem as vlasovilya and my service worker code looks the same as his. Everything is working fine when the app runs as PWA but not as TWA.

[2019-06-11 11:03] andreban commented on #20
Can you provide more information on the browser version? Also, can you take a look on #15 and point if that is a similar issue?

[2019-06-12 11:28] bantyK commented on #17
I am still facing this issue ? Is this resolved ? I am facing this issue on Samsung S7 edge device but it is working fine in 1+ 5T

[2019-06-12 12:34] LukasSarnowskiC9 commented on #20
I have tested this on Android Studio Emulator (Chrome 74 and 75 on android 7.0 and 8.0), on Pixel XL (Android 8.0, Chrome 74 and 75) and on Huawei (Android 8.0, Chrome 74). On the Pixel devices the clients.openWindow(url) is ignored when the app is in background (not waking up the app) and on Huawai the app just closes/crashes when in background/foreground (it only opens the app when it is complet

[2019-06-12 13:14] andreban commented on #20
re: the issue with Pixel and Chrome 74 / 75, could you please test on Chrome Canary? An issue with bringing was fixed and is available there.

[2019-06-12 13:17] andreban commented on #17
@bantyK issues with showing the top are usually related to the misconfiguring Digital Asset Links. I haven't a case where the setup is correct and the top bar is showing. I'm happy to take a look on why it's not working for you, if you can share the APK with me.

@leandro2ki we have discussed this offline. Could you please confirm the issue has been fixed for you?

I'm closing this issue, as it's

[2019-06-12 13:17] #17 closed

[2019-06-12 13:54] LukasSarnowskiC9 commented on #20
Thank you for the information andreban. I have now tested my TWA with the canary Chrome version and it is working as intended.

[2019-06-12 14:01] bantyK commented on #17
Hey @andreban thanks for the response. I was able to just fix it. In my case it was an issue related to signin config. I was running my app in debug version but my app was signed only for release version.

However, I think information like this should be added in the documentation.

[2019-06-12 14:37] andreban commented on #17
This [section](https://github.com/GoogleChromeLabs/svgomg-twa#debugging-digital-asset-links) was recently added to the documentation for the sample. Does it help?

[2019-06-13 14:56] SvenBudak opened #31 "Please add Options for Fallback to Website if TWA is not Supported"
Hi @andreban, sorry but i have another feature request to you ;)

I got my TWA: https://play.google.com/store/apps/details?id=com.devMonkeys.expenser i got alot feedback (Also one bad rating) because people can download the App with devices they dont support TWA...

my please to you: Can you check please a possibility to add 2 Options?

1. Boolean that set the dependencylist correctly, that it sho

[2019-06-16 04:38] pranaykothari commented on #17
Hi @bantyK , how did you fix the issue related to signin config you mentioned? We have the exact same issue, but can't figure the solution. In our case we have a SHA256 fingerprint that we use to sign the app and publish to app store. The same key is used in digital asset link, and the TEST succeeds. Unfortunately, the app still opens up with the address bar.

@andreban I believe the documentation

[2019-06-17 05:30] bantyK commented on #17
Hey @pranaykothari, in my case only the release flavor of the app was signed and I was running the app in debug version which is causing the address bar to show up. Try to run the app in the release version and it should work.

[2019-06-17 05:46] pranaykothari commented on #17
@bantyK I verified that we are running a release signed build (and the same is published in app store) using the following command, and it does mention APK is in the release mode.

command:  jarsigner -verify -verbose -certs your_apk.apk

(command reference: https://medium.com/@chintanrathod/verify-if-apk-is-signed-with-certificate-or-debug-build-44a729e684ca)

Also, here is the relevant content o

[2019-06-17 09:35] andreban commented on #17
@pranaykothari Is the URL you are trying to open https://xyz.in/ ? That URL returns connection refused for me. Even though http://xyz.in/  works, TWAs require HTTPS.

[2019-06-17 09:54] pranaykothari commented on #17
@andreban I am sorry, I changed it only to comment for this thread. (xyz=jainkart everywhere). and yes, it is https.

[2019-06-17 09:58] andreban commented on #17
@pranaykothari It seems https://xyz.in redirects to https://www.xyz.in. The first is listed to be verified in the app, the second is not. Try changing the hostName to www.xyz.in.

PS: This sounds like a great question for Stack Overflow. Could you please post it there? I'm happy to provide the answer there.

[2019-06-17 10:30] pranaykothari commented on #17
@andreban Your answer is spot on! That seems to be the issue. Changed the hostname to www.xyz.in in app/build.gradle and it stops showing the address bar. Appreciate your help.

Created a stack overflow question as requested:
https://stackoverflow.com/questions/56629441/twa-has-assetlinks-but-is-still-opening-with-address-bar

Thanks,
Pranay.

[2019-06-19 07:07] andreban commented on #31
Hi @SvenBudak

It'd be great if you could raise both issues on https://bugs.chromium.org/. That's where we track bugs and feature requests for TWA and the TWA Support Library.

Andre

[2019-06-19 07:10] andreban commented on #30
Hi @SvenBudak,

The solution would be to create your own LauncherActivity by extending the [LauncherActivity in the Support Library](https://github.com/GoogleChrome/custom-tabs-client/blob/master/customtabs/src/android/support/customtabs/trusted/LauncherActivity.java).

Then, override the [getLaunchingUrl](https://github.com/GoogleChrome/custom-tabs-client/blob/master/customtabs/src/android/suppor

[2019-06-19 07:19] SvenBudak commented on #30
Thanks for this! This will help me. Is anything planned to make it possible to pass an config array or object to the twa?

[2019-06-19 07:24] SvenBudak commented on #31
Thanks I will take a look. But isn't this a thing that must be made in this repository? In gradle.build file?

[2019-06-19 07:47] mathcoll opened #32 "Handle back button in TWA"
Hi,

I'm not sure I should post this request here.. But I have set a PWA+TWA using this repo to start.
I managed to get the expected result, except on the mobile "back" button which seems not to works as expectd on the TWA.

Actually, when I tap to back button on my mobile, nothing is happening. and the PWA (so the TWA) is using "window.location.hash" to handle the pages changes.

Is there anythin

[2019-07-01 16:36] suaper opened #35 "TWA doesn't hide url bar"
Hello, I have downloaded your repository and followed the steps to upload my PWA to the Play Store, but I have an error even though I already set up the assetlinks.json and it seems that the TWA configuration is fine, still do not hide the bar url.

I have seen other issues here with the same problem but none has given me a solution.

Even I managed to upload my PWA to the play store but the probl

[2019-07-01 18:45] andreban commented on #35
On your `assetlinks.json` file, it is pointing to a package name called `com.placeholder`. Assuming the fingerprints are correct, the file should look like the following:
[code]

Would you post this question on StackOverflow? That's the ideal place to ask it and we have a specific tag for Trusted Web Activity: https://stackoverflow.com/questions/tagged/trusted-web-activity

[2019-07-01 19:00] #35 closed

[2019-07-22 16:45] yoann54 opened #36 "twa has assetLinks but is opening with address bar"
I followed the offical way to publish my pwa on the play store but whatever i tried i still have this url adress bar. I have a correct assetlinks.json on my server (i've tested it with the google tool) at https://www.elec-tricks.com/.well-known/assetlinks.json and here is my gradle file :

`apply plugin: 'com.android.application'

android {
    compileSdkVersion 28
    defaultConfig {
        appl

[2019-07-22 16:56] #36 closed

[2019-07-23 04:54] genesy opened #37 "Is it possible to monetize a pwa through twa?"
I'm not an android developer by any means so i'm not exactly sure how this repository works. But is it possible to add admob or something for the app?

[2019-07-24 10:38] andreban commented on #37
Would you mind posting this question on StackOverflow, as this is a question about TWAs in general and not an issue with the sample in this repo? We have a specific tag for TWAs at https://stackoverflow.com/questions/tagged/trusted-web-activity/

[2019-07-24 10:38] #37 closed

[2019-07-25 02:07] andreban commented on #31
The code that checks if the TWA is available is part of the Support Library. The best place to file bugs for the Support Library is on the Chromium repository.

[2019-07-25 02:07] #31 closed

[2019-07-25 06:19] SvenBudak commented on #31
But i talk about hiding the app in the playstore... The playstore is a native app i think, and the wrapper is also a native java app. i want to hide the TWA App Container in the PlayStore if the user dont have Chrome 75+ installed...

I think you talk about a solution to show something if he have allready downlaoded the TWA from palystore and start the app, and his chrome is not supporting TWA fea

[2019-07-25 11:12] abhishek8506 opened #38 "no splash screen occur in my pwa only web content start with few sec white screen"
any help me

[2019-07-25 12:29] abhishek8506 commented on #38
by upgrading custom tabs 7a2c1374a3. it solve..but in manifest unresolved class issue raise

[2019-07-25 12:36] #38 closed

[2019-07-25 12:39] abhishek8506 opened #39 "by upgrading library to 7a2c1374a3 ..manifest show conflicts as unresolved class.."
i simply download project and run at first time if u not open manifest it run perfectly ,,then after u open manifest its show error .. Any one should help me..

[2019-07-30 13:52] fabianbormann opened #40 "Run twa in fullscreen mode without Action- and Statusbar"
Hi there,

we are building a pwa game and want to launch it also as twa without action- and statusbar in fullscreen mode. Currently I found no way to do this and my received answer on [stackoverflow](https://stackoverflow.com/questions/55662370/hide-statusbar-in-trusted-web-activities) does not work me. So (how) is it possible to run a twa completely without ui (actionbar, statusbar) in fullscreen

[2019-07-30 15:06] andreban commented on #40
Hi Fabian,

Thanks for reaching out. Immersive mode is not currently supported. We do have a [feature request open in the Chromium bugtracker](https://bugs.chromium.org/p/chromium/issues/detail?id=965329&q=component%3AUI>Browser>Mobile>TrustedWebActivities%20immersive&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified). It would be great if you could

[2019-07-30 18:13] fabianbormann commented on #40
Hi Andre,

thanks for your fast reply

will definitely do that 👍

In this case I would close this issue here. Thanks a lot! 😊

[2019-07-30 18:13] #40 closed

[2019-08-08 17:10] Jcholerton opened #42 "App crashes with IllegalStateException"
Hi,

We're getting a small number of crashes from various devices with the following stack trace:

[code]

Seems to be something going wrong when trying to establish the session. Is this a known issue?

Thanks

[2019-08-08 17:15] andreban commented on #42
Can you confirm the version of the Support Library being used? The latest version is `91b4a1270b`.

[2019-08-12 11:25] Jcholerton commented on #42
We were using an earlier version but updated to 91b4a1270b on Friday. Over the weekend we've still seen some instances of the same error.

[2019-08-12 11:31] andreban commented on #42
Can you confirm those errors are happening on the latest version of your app (the one that uses the latest version of the library).

[2019-08-12 11:39] Jcholerton commented on #42
Yes, the errors are happening on the latest version.

[2019-08-12 11:42] andreban commented on #42
Thanks for confirming. Can you file a bug against the library using [this template](https://code.google.com/p/chromium/issues/entry?summary=Issue%20Summary&comment=Application%20Version%20(from%20%22Chrome%20Settings%20%3E%20About%20Chrome%22):%20%0DAndroid%20Build%20Number%20(from%20%22Android%20Settings%20%3E%20About%20Phone/Tablet%22):%20%0DDevice:%20%0D%0DSteps%20to%20reproduce:%20%0D%0DObserv

[2019-08-18 06:42] jahooma commented on #39
Same problem here, I think. I switched to version d08e93fce3 and it works.

[2019-08-18 07:21] jahooma commented on #39
Actually I might have a different error.

When I upgrade to com.github.GoogleChrome.custom-tabs-client:customtabs:91b4a1270b, I get the logcat error below.

Maybe my other dependencies are of the wrong version?

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: live.throne, PID: 10018
    java.lang.IllegalAccessError: Method 'android.os.Bundle android.support.customtabs.CustomTabColorSchemePara

[2019-08-18 11:32] jahooma commented on #39
So I did a binary search through the versions of custom-tabs-client I saw on their github page. It turns out that this commit is causing my error: https://github.com/GoogleChrome/custom-tabs-client/commit/59af5454e3add89ad3786e14fd08e9cdc350bef7

Not sure what to do about that. In the meantime, if I use the version right before this from May 15th ('com.github.GoogleChrome.custom-tabs-client:custom

[2019-08-28 00:35] arryanggaputra commented on #30
Thanks, @SvenBudak, themeColor seems not to work at all, I tried to change the color but it still black, do you have any idea about this?

[2019-08-30 09:21] kolyuchii commented on #20
Hello @vlasovilya and @LukasSarnowskiC9,
I've faced the same issue but it still doesn't work for me.

[code]

Could you please share your piece of code which is working on Canary?

[2019-08-30 12:06] ShivamJoker opened #43 "How to open a link in chrome separate window instead of the PWA app"
I tried setting up the scope and target blank but it appears all the external hyperlinks opens within my app

[2019-09-03 05:56] nirmalraghavan commented on #42
How do we find the latest version?
From Google's [documentation](https://developers.google.com/web/updates/2019/02/using-twa), they says to use `7a2c1374a3`. But this didn't work for me. Is there way to find the latest version support library? How we will know when a new version is released?

[2019-09-05 16:54] momoproject opened #44 "Not able to put a svg gradient as TWA splash screen background."
I'm not sure if this is even possible, but is there some way to do it?

[code]
Being, `@drawable/gradient` instead of `@color/backgroundColor`, I did this but didn't worked, the app just throws an error, I asked this on Stack too, but didn't got an answer, so I thought on asking here, it would be good as an enhacement.

![image](https://user-images.githubusercontent.com/40412640/64362258-945b1100-

[2019-09-06 12:06] tobiasharle commented on #39
@jahooma I am experiencing the same problem so I reported an [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1001491)

[2019-09-10 09:48] bsde1234 opened #45 "I want to hide a div in twa app"
I used below code to hide a div in twa, but not working,

[code]
How to do it?

[2019-09-10 11:14] mathcoll commented on #45
I believe you can use a regexp to identify when "pageReferrer" match "android-app://"

[2019-09-10 11:30] bsde1234 commented on #45
can you please give full code, not a coder here

[2019-09-10 16:49] mathcoll commented on #45
@bsde1234 I'm not a coder too.
I used Google Tag Manager to do so:
<a href="http://i.imgur.com/shnYeVA.png">
  <img src="http://imgur.com/shnYeVAl.png" />
</a>

But I guess something similar to that could works:
[code]

[2019-09-11 10:32] bsde1234 commented on #45
Thanks, that worked.

[2019-09-15 12:28] rockeynebhwani commented on #42
@andreban - We are using latest library version (91b4a1270b) for our TWA but we are seeing similar errors.

[2019-09-15 12:36] rockeynebhwani commented on #42
@Jcholerton  - Did you file bug with chromium team as suggested by @andreban ?

[2019-09-16 04:09] passiondroid commented on #42
Filed a bug -
https://bugs.chromium.org/p/chromium/issues/detail?id=1004115

[2019-09-16 09:11] andreban commented on #43
This seems to be an issue with the Support Library. Can you file a bug on bugs.chromium.org?

[2019-09-16 09:11] #43 closed

[2019-09-20 07:53] thanhtungka91 opened #47 "[Ask] How to use Google Play App Signing in Debug"
1. I have done to app signing on google play console.
2. get SHA-256 certificate fingerprin from App signing
3. Add SHA-256 certificate fingerprin on ssetlinks.json to PWA site.
=> downloading the app from google play, the address bar is hidden when running the app, because app sign is meet between the website and app.

There is a problem in here that if I want to build an APK file in Android stu

[2019-09-20 08:56] andreban commented on #47
When using App Signing, Google Play will not provide you with the certificate used to sign the final APK, so you won't be able to use it for debugging.

One alternative would be to modify your assetstatements.json file to contain both the fingerprint used by the Play Store and the one for your debug key.

The `sha256_cert_fingerprints` is an array and you could do something like used [here](https:

[2019-09-20 09:22] thanhtungka91 commented on #47
@andreban  it works, thanks

[2019-09-20 09:22] #47 closed

[2019-09-20 09:25] andreban commented on #47
Great to hear that! Maybe it's worth asking / replying on StackOverflow, as it would help others with the same questions to find it. We have a [tag](https://stackoverflow.com/questions/tagged/trusted-web-activity/) for TWAs. Let me know if you'd like to post the question and answer.

[2019-09-24 00:07] thanhtungka91 commented on #47
@andreban yep, it is very helpful if we can post this question to StackOverflow.
thanks.

[2019-09-25 16:32] naveedahmed1 opened #48 "Feedback about TWA"
I recently migrated my app to TWA, and wanted to share some feedback.

Being primarily a web dev, I always had this believe that web apps would eventually land on App Stores, glad to see that its finally happening. Great job Google team :)

There are few things that I wanted to point out and if these could be fixed it would be awesome.

My PWA make use to Push notifications, Credential Management

[2019-09-29 18:57] strygo opened #49 "Status Bar Color Precedence Issue"
I'm seeing an issue with the status bar color, and I'm not sure whether the problem is in this test app, the support library, Chrome, or something I'm doing wrong.

https://bugs.chromium.org/p/chromium/issues/detail?id=964914

According to that issue, if a trusted webpage specifies a theme color, this theme color should take precedence over any values specified in the app.

However, I'm not seeing

[2019-09-30 09:12] PEConn commented on #49
Hey Steve,

I'm assuming that the page is in Custom Tab mode, not TWA mode (there's a
top bar)? The web page's theme colour is only used when you're on the
verified origin (you're in TWA mode), once you leave and you're on a Custom
Tab the theme colour specified in the manifest applies.

Basically, we want to give the Android App developer control over the
topbar/status bar colour. When you're on

[2019-09-30 13:42] javiredracing opened #50 "Manage web manifest properties"
Properties like orientation or display in PWA web manifest does not apply in custom tabs activity

[2019-09-30 13:44] andreban commented on #50
There's an issue open in bugs.chromium.org tracking this issue here: https://bugs.chromium.org/p/chromium/issues/detail?id=989606

[2019-09-30 15:08] andreban commented on #39
@jahooma @tobiasharle Are you using other libraries with the project? If not, it may be possible to disable jetifier (`android.enableJetifier=false` in `gradle.properties`) and then ensuring that you are not using other libraries in the apps `build.gradle`.

The [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper) depends on an alpha version of androidx.browser and shou

[2019-09-30 15:41] strygo commented on #49
Hi Peter,

Thank you for the thorough reply. This behavior you describe makes sense, and what I would expect to see.

Using the sample app, and following the steps documented [here](https://developers.google.com/web/updates/2019/02/using-twa#debugging), I added the sample's app's domain. Upon doing this, the app appears to run in TWA mode (the address bar isn't shown). I also see a "You are using

[2019-09-30 16:07] PEConn commented on #49
This sounds like this is a problem our (Chrome's) end. I don't think the "unsupported feature flag" warning should be effecting this.

Can I get the full version of Chrome you're using?

[2019-09-30 16:09] strygo commented on #49
Sure. It's 77.0.3865.92. If you need any other info from me, please let me know.

[2019-09-30 16:40] PEConn commented on #49
I can reproduce this issue on Chrome Stable, however it's working as expected on Chrome Canary - I believe it was fixed with https://chromium-review.googlesource.com/c/chromium/src/+/1771316 .

[2019-09-30 16:57] strygo commented on #49
I've confirmed I'm seeing the correct behavior with Chrome Canary installed as well. Thanks for the help!

[2019-10-01 08:44] PEConn commented on #49
Great! The fix should be in Chrome 79, which should get to Chrome Beta on mid October and to Stable in mid December.

[2019-10-01 08:44] #49 closed

[2019-10-01 10:11] PEConn commented on #48
Hey,

Do you mind sharing the Service Worker code for your push notification? (Also a video would be helpful, but not essential.)

This is a known issue, tracked at https://crbug.com/999590 .

This seems like a reasonable request (I'm actually surprised we haven't come across it before), I've created to https://crbug.com/1009968 track it.

TWA's don't pay attention to your Web App Manifest - they

[2019-10-01 15:30] naveedahmed1 commented on #48
[code]

Can we specify a TWA launch url in AndroidManifest?

If I share TWA download link, will it help?

One more thing, TWA takes to long to start , whereas installed PWA is much faster.

Any plans to offer similar experience for installed PWAs? I mean when user install a PWA what if the notifications are also enabled for it like we have in TWA?

The notification received from TWA shows URL alon

[2019-10-01 15:33] naveedahmed1 commented on #48
Should we expect any new features related to TWA in Chrome Dev Summit? If there are, I would be happy to test in my app :)

[2019-10-03 14:32] PEConn commented on #48
Thanks for the ServiceWorker code - I was mostly trying to work out whether you were using openWindow or focus. Is that the code that executes when you click on the action button of the app (I don't know how web notification action buttons work).

If you open `app/build.gradle` (not the top level `build.gradle`) you'll see an object called [twaManifest](https://github.com/GoogleChromeLabs/svgomg-t

[2019-10-03 14:55] naveedahmed1 commented on #48
The below code is executed when notification or notification button is clicked. `event.action` has the information about which action button was clicked in notification.

[code]
I just emailed you the link to TWA. please also try clicking the social logins button (Facebook, Google, Linkedin) you will see that it also throws error, probably because the TWA is re-initialized, when the user authorize

[2019-10-04 11:45] tobiasharle commented on #39
@andreban At the time of writing I wan't aware of android-browser-helper. Using that instead of custom-tabs-client solved the issue for me.

[2019-10-06 21:40] rockeynebhwani commented on #48
@naveedahmed1 / @PEConn  - Please see this bug I raised with respect to 3rd party re-direction. It's not only issue with social login buttons. We are also facing this for Payment re-direction scenarios like Paypal - https://bugs.chromium.org/p/chromium/issues/detail?id=1010449

@PEConn  - This is deal breaker for sites which use Paypal.

[2019-10-07 09:58] rockeynebhwani commented on #42
See this - https://bugs.chromium.org/p/chromium/issues/detail?id=988346

[2019-10-07 10:05] PEConn commented on #42
(sorry for the noise!)

@andreban This issue has been fixed on the custom-tabs-client, I think all we need to do is update the version we depend on.

[2019-10-07 12:38] PEConn commented on #48
naveedahmed1, with regard to the log in through Google (I've not tried Facebook or LinkedIn), I'm unable to do so successfully on your desktop site either.

1. Go to mustakbil.com.
2. Click Login at the top right.
3. Click Google.
4. You'll be taken to the Google OAuth page, choose an account.
5. You get the "Sorry Page Not Found!" page (URL = https://www.mustakbil.com/ws/account/externallogincall

[2019-10-07 12:48] rockeynebhwani commented on #48
@PEConn  - I am happy to share our APK for you to try out paypal flow.. If you let me know your email address, I can send our APK and you can see PayPal flow working on our live site.

[2019-10-07 12:59] andreban commented on #48
@rockeynebhwani I'd be happy to take a look at it. It's probably better to share through Google Drive or Dropbox though, as Gmail is likely to remove attached APKs.

[2019-10-07 13:05] andreban commented on #42
@rockeynebhwani Could you update to the latest version and let us know if you still see the issue on that?

I have updated `svgomg-twa` to use the latest on #51

[2019-10-07 13:08] rockeynebhwani commented on #48
Thanks @andreban . I had your email address from Bojan. I have invited you to a oneDrive folder which has APK and video recording of the issue. Happy for you to place live order on the site for a small value item (search for 'unicorn tealight' - https://direct.asda.com/george/home/candles-home-fragrance/unicorn-shaped-tealight-holders-set-of-2/BUN467,default,pd.html) and give me order number and I

[2019-10-07 13:11] rockeynebhwani commented on #42
@andreban  - I have asked our dev team to upgrade to latest version but currently we are blocked on rolling out our app to more users due to paypal issue (on another thread we talked about) so it may take some time before new users download the app. We don't want to roll out to more customers with known issue with Paypal

[2019-10-07 14:21] andreban commented on #48
@rockeynebhwani Thank you - I tried it out and reproduced the issue. My wild guess is that it has something to do with Digital Asset Links capturing the link and re-creating the tab when a redirect happens, instead of simply navigating. Need to confirm that though.

[2019-10-07 14:38] naveedahmed1 commented on #48
@PEConn Thanks for looking into this, I am unable to reproduce it on my side. I think it happens only when the login flow breaks possibly due to the reason identified by @andreban i.e.

And on redirect you can see that it shows splash screen again, therefore, it surely is recreating the tab.

@rockeynebhwani yes you are right it affects every application that somehow integrates third-party service

[2019-10-07 15:38] magbicaleman opened #52 "How to support multi environment urls?"
I'm very new to `Android Studio` and `android` development as a whole. I found this article to work [twas-quickstart](https://developers.google.com/web/updates/2019/08/twas-quickstart), but not so much this article: [using-twa](https://developers.google.com/web/updates/2019/02/using-twa)

What's the way to change the hostname and release it to a particular track in the Google Play Store?

I releas

[2019-10-07 16:00] andreban commented on #52
@magbicaleman

Yes, changing the `hostName` in `build.gradle` is the way to go if you want to change the origin the TWA opens.

Deploying different bundles to different tracks should work. The usual way to work with alpha, beta, and production tracks is that builds are "promoted" from one track to the other, but this won't work as intended in this case, as promoting a beta track to production woul

[2019-10-07 20:51] amirmujtaba commented on #17
@andreban can you please help me same issue

[2019-10-08 13:26] rockeynebhwani commented on #48
@naveedahmed1  - @andreban  and I have been exchanging emails and he confirmed that he was able to re-produce the PayPal issue on a sample app.

[2019-10-09 17:49] andreban commented on #50
Closing this, as it is a feature request for Chrome.

[2019-10-09 17:49] #50 closed

[2019-10-09 17:53] andreban commented on #39
Closing the issue, as it's a Support Library issue and being tracked on Chromium bugs here: https://bugs.chromium.org/p/chromium/issues/detail?id=983378

[2019-10-09 17:53] #39 closed

[2019-10-10 15:30] magbicaleman commented on #52
@andreban thank you very much for your feedback.

This is just the setup we currently have if we wanted to post data that we don't want to show in a production environment.

What do you mean by this?

Do you have recommendations or resources on better handling deployments? I'd like to get better at this.

[2019-10-12 10:53] konstantin1883 opened #56 "duration splash screen"
How to set splash screen duration?

[2019-10-12 10:56] konstantin1883 opened #57 "White screen"
When you close the application with the back button, a white blank screen is displayed for a short period of time, how can I fix this?

[2019-10-30 13:20] n-belokopytov opened #58 "Fullscreen mode exists in PWA but not TWA?"
It seems quite weird to us that Status and Nav bar cannot be hidden in TWA activity even though it's a non-issue for a PWA installed app. Can anything be done about it?

[2019-11-01 13:58] rockeynebhwani commented on #32
@mathcoll  - Is this duplicate of https://github.com/GoogleChromeLabs/svgomg-twa/issues/57 ?

[2019-11-02 15:08] mathcoll commented on #32
Hi,
This issue #32 is more a feature request and #57 seems a bug.
Well, I can't say #57 is a duplicate. Maybe it is related as both issues are talking about back buttons.

So if I could rephrase this issue:
I'd like to control the TWA previous-page from history by using the Mobile back button.

[2019-11-04 16:09] FluorescentHallucinogen opened #59 "[Proposal] Use web app manifest as single source of truth"
Currently, developers when packaging PWA to TWA should duplicate web app manifest properties in [build.gradle](https://github.com/GoogleChromeLabs/svgomg-twa/blob/master/app/build.gradle#L21) file, that has a different format.

What about using `manifest.webmanifest` file as single source of truth and generate `build.gradle` from it? This should improve the DX (Developer Experience).

[2019-11-04 17:29] FluorescentHallucinogen opened #60 "How exactly Notification Delegation does work?"
From the [description](https://github.com/GoogleChrome/custom-tabs-client/blob/26aa6744970790de086e92014aebf543b4585fb7/customtabs/src/android/support/customtabs/trusted/TrustedWebActivityService.java#L56-L94), I don’t quite understand how Notification Delegation works.

Could you please explain?

If I set `enableNotifications` to `true`, does this mean that notifications will be managed by TWA wr

[2019-11-05 10:19] PEConn commented on #60
You've got it correct.

The first time the TWA is run, we enable Chrome notifications for the associated origin. If the TWA has notifications disabled in Android Settings, we disable them in Chrome instead. There's a little bit of latency with how this gets propagated, but things should get updated on the next TWA launch at latest.

When the TWA is uninstalled, the notification permission is set t

[2019-11-05 10:26] andreban commented on #58
This is being looked into and tracked in this Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=965329

We're going to add this to the sample, once Chrome supports it.

[2019-11-05 11:23] FluorescentHallucinogen commented on #60
@PEConn

Thanks for clarification!

By the way, what about delegation of other permissions (like geolocation, etc.), not only notifications? Is it possible?

PTAL at https://crbug.com/974785 for motivation.

TL;DR: It's very difficult, if not impossible, to explain to ordinary users (not developers) that in order to change permissions for the _app_ they need to go to the _browser_. This is not obv

[2019-11-05 15:50] PEConn commented on #60
Yeah, we're planning on expanding permission delegation to include permissions other than notifications.

Since each different permission needs to be plumbed through manually, we're going to be starting with the bigger ones (Geolocation and maybe Camera, although that's a complex API) and then evaluating the payoff for the rest. The other difficulty is that while notifications are enabled by defau

[2019-11-06 11:14] andreban commented on #59
This is something we considered previously. The bottom line was that the fields cannot be used straight from the Web Manifest, and use the same format.

As an example, while a Web Manifest accepts `red` or `blue` to specify a `background_color`, Android will require the color to be specified as `#FF0000` or `#0000FF`.

Having said that, we are looking into how we can generate an Android Project fr

[2019-11-06 14:20] FluorescentHallucinogen commented on #60
@PEConn I've partially fixed the problem described in https://github.com/GoogleChromeLabs/svgomg-twa/issues/60#issuecomment-549781939 by #61.

[2019-11-06 22:05] kalkih opened #63 "Transparent statusbar possible?"
Hello!
I've got a web app where the theme is heavily based around the currently viewed content.
Is it possible to make the status bar translucent or transparent?

If that isn't possible, how would I best go about changing the status bar color dynamically based page content?

In a normal browser window and as a PWA I can achieve this by changing the content of the meta tag `theme-color`.

Thanks!

[2019-11-07 13:26] andreban opened #64 "Create default values for the the app`build.gradle` TWA configuration"
Currently, all configurations are specified on the top of the application's `build.gradle`. Values like  `enableNotifications`, `useBrowserOnChromeOS` and `shortcuts` are not frequently used and, as more configurations are added, the configuration ends up with a lot of visual pollution, making it harder for developers to understand.

For the values that can have defaults specified, those should be

[2019-11-07 13:51] PEConn commented on #63
We're working on adding support for Android's Immersive Mode which I think would solve your problem - we're tracking this on the android-browser-helper library: https://github.com/GoogleChrome/android-browser-helper/issues/35

(the android-browser-helper library will soon be replacing the custom-tabs-client library that svgomg-twa is based on)

[2019-11-07 17:35] kalkih commented on #63
Great, thanks for your response!

[2019-11-07 17:35] #63 closed

[2019-11-07 18:30] PEConn commented on #64
On the other hand, I think that the relevant part of the config file still fits onto a page (it's only 20 lines now) and it acts as a nice way to advertise TWA features. I could see a developer going to `build.gradle` to enter their host name and theme colour, spotting the shortcuts entry and trying it out.

If the `twaManifest` structure doubles or triples in size, I'd agree that we need to cut i

[2019-11-07 20:13] andreban commented on #64
Fair enough. I'll re-raise this if this becomes an issue in the future.

[2019-11-07 20:13] #64 closed

[2019-11-11 13:31] happylolonly commented on #58
guys, you mean status bar or navigation one?

I installed my app from .apk file, it had only status bar.
Then I deployed it to Play Store, but it have status bar and navigation...

I uploaded `assetlinks.json` to website.

[2019-11-11 13:38] andreban commented on #58
@happylolonly we mean the status bar

re: Navigation bar when downloading from Play, you may have the wrong Fingerprint in the assetlinks.json, if you enabled App Signing on Play (which is the default). You can install [Peter's Asset Link Tool](https://play.google.com/store/apps/details?id=dev.conn.assetlinkstool) and use it to check for the correct assetlinks.json file.

[2019-11-11 13:38] PEConn commented on #58
I think you may have verified your app with your debug key, not your production key. Have a look at https://developers.google.com/web/updates/2019/08/twas-quickstart#a-note-on-signing-keys

[2019-11-11 13:47] happylolonly commented on #58
thanks, I changed SHA in `assetlinks.json`, now without navigation;)

[2019-11-12 07:29] FluorescentHallucinogen commented on #59
@andreban Just found https://github.com/GoogleChromeLabs/llama-pack. ;)

[2019-11-12 07:50] andreban commented on #59
That's the project I mentioned above. It's a work in progress, but it is public now. Issues and PRs are welcome!

[2019-11-12 14:48] andreban commented on #59
I created an issue on llama-pack to discuss this: https://github.com/GoogleChromeLabs/llama-pack/issues/11

[2019-11-13 13:02] FluorescentHallucinogen opened #66 "Show notifications in shortcuts"
How to show notifications in shortcuts? Something like this:

![shortcut-notifications](https://user-images.githubusercontent.com/7892779/68765905-efd1fc80-062e-11ea-981c-8212430fc26d.png)

[2019-11-13 14:29] FluorescentHallucinogen commented on #66
Is enabling the notification delegation enough to display icon dots and notifications in shortcuts?

[2019-11-14 00:53] matthewhartman opened #67 "Violation of Families Policy Requirements"
Hello All,

First off, thank you so much for this code, it's been a tremendous time saver and super helpful!

I updated this code and followed the TWA guidelines to the tee and my app continues to get rejected on the following basis:

We don't allow apps whose primary purpose is to provide a webview of a website, regardless of ownership, or to aggregate content that does not belong to the develope

[2019-11-14 16:34] b1tr0t commented on #67
Hi there, I'm the product manager for TWAs.  Sorry you're running into this, I can confirm we support TWAs, however, all content in Play including PWAs are subject to Play policy & approvals.

I'm following up with the Play app review team to get a better understanding of the issues specific to your app.

In the meantime, could you email me directly at pjmclachlan@google.com?

[2019-11-15 19:13] Andrew67 commented on #56
Support for this was added as by this PR: https://github.com/GoogleChromeLabs/svgomg-twa/pull/62

[2019-11-18 13:58] FluorescentHallucinogen commented on #66
@andreban @PEConn cc.

[2019-11-19 13:19] happylolonly commented on #30
could someone explain to Android noob (me) how I can replace splash screens by generating (in android studio or something else), not by hands?

[2019-11-19 13:29] PEConn commented on #57
Thanks for this bug report and very sorry for taking so long to get back to you on it. We're tracking this bug at https://crbug.com/1026226 .

[2019-11-19 13:31] PEConn commented on #32
@andreban You're a bit more knowledgable about HTML back behaviour, could you have a look at this?

@mathcoll If you navigate to your web page in normal Chrome, does the back button work as intended?

[2019-11-19 19:10] SvenBudak commented on #30
@happylolonly Read my Tutorial: https://medium.com/@svenbudak/this-twa-stuff-rocks-finally-i-got-my-pwa-on-google-play-store-b92fe8dae31f

[2019-11-19 19:46] andreban commented on #30
@happylolonly You may want to take a look at https://github.com/GoogleChromeLabs/llama-pack

It should be able to use your WebManifest to generate both the app icon and the splash screen.

[2019-11-20 08:27] mathcoll commented on #32
Well ..
Seems it doesn't works (anymore ??) I believe it was working but I'm not even sure now ...
So, it seems there is at least a bug in **my code** handling the window.location.hash. We probably can close this issue and if I can fix my issue first, I'll reopen the tikcket.

[2019-11-20 08:27] #32 closed

[2019-11-20 20:01] happylolonly opened #69 "Reduce size of the app 😂"
Hi everyone, it is possible to reduce a size TWA from 500-700kb to, for example, 150kb ?
Fight for web;)

What need to do?

I had ~650kb, changed icon and splash screen, now ~750kb...
https://play.google.com/store/apps/details?id=by.freefitness.app

[2019-11-20 20:06] happylolonly commented on #69
TWA preload whole PWA?
How much % Android code in it?

[2019-11-22 11:06] andreban commented on #57
Closing the bug here, in favor of tracking at crbug. We can re-open if a change in the SVGOMG App is required.

[2019-11-22 11:06] #57 closed

[2019-11-23 13:34] PEConn commented on #69
Hey,

I've had a brief look into this but not found any low hanging fruit. It appears that there's a bunch of resources pulled in by the Android Support Library (things like themes and icons). This project already has Proguard enabled, so the next step is to find out why these resources are still being included (since as far as I can tell they're not used).

If you fancy having a try yourself ther

[2019-11-23 13:51] PEConn commented on #66
Hey,

Admittedly I haven't tried this myself, but from reading [here](https://developer.android.com/training/notify-user/badges) they "appear on a launcher icon when the associated app has an active notification" and "These dots appear by default in launcher apps that support them and there's nothing your app needs to do" so I believe you're right. Once notification delegation is enabled, they sho

[2019-11-27 20:40] leolux opened #70 "Multiple TWAs on same domain?"
Let's assume we have three different PWAs running at the same domain:

- https://myexamplehost.com/pwa1
- https://myexamplehost.com/pwa2
- https://myexamplehost.com/pwa3

1. Is TWA capable of different PWAs on the same domain?
2. How many **assetlinks.json** files are required for the TWA to work correctly?
3. Where to place the **assetlinks.json** file for each PWA?

[2019-11-28 09:43] mathcoll opened #71 "9-patch on splash screen not strech"
Hi all,

I'm not able to activate 9 patch on splash screen.
* Launcher is displaying splash screen with image not strech, a normal .png
* I created .9.png files using the Android Studio editor (a crazy tool.. :-) )

But then the image remain centered and not stretch.
Are there any additional setup to do with a TWA?

Thanks a lot.

[2019-11-28 10:25] PEConn commented on #70
Hey,

Sorry, do you mind being a bit clearer about what you mean by "Is TWA capable of different PWAs on the same domain"? Do you just want a single TWA to be able to view each of your PWAs, or do you want to be able to create 3 different TWAs, one for each PWA?

While PWAs (things with the web app manifest) can have more specific scopes (eg, https://myexamplehost.com/pwa1), TWAs and Digital Asset

[2019-11-28 15:10] leolux commented on #70
Thank you for the explanation!

I like to have 3 different apps to be published to the google play store, one for each PWA. So I guess that I need 3 different TWA for that.

I couldn't find a good documentation about assetlinks.json How to create the correct entries in assetlinks.json and where to read on?

[2019-11-28 15:34] PEConn commented on #70
You can get some info about making your Digital Asset Links at the [quick start guide here]. [Here](https://peconn.github.io/.well-known/assetlinks.json) is an example of a Digital Asset Link file that contains multiple verified TWAs.

[quick start guide here]: https://developers.google.com/web/updates/2019/08/twas-quickstart#creating-your-asset-link-file

[2019-11-28 15:36] andreban commented on #70
The root element on `assetlinks.json` is an array. You can use that to list multiple applications that have access to the domain:

[code]

A few things to note:

1. Each entry has a different package name, which will point to the corresponded TWA
2. You can use the same signing key or different signing keys. If using Play Store signing (recommended), those keys will probably be different.
3. You w

[2019-12-03 06:10] sjafarianm commented on #18
I inspect my TWA with remote debugging and it appears that document.referrer is not like 'android-app://' . It is something like https://sitename.com/... . Any idea why??

[2019-12-03 08:54] PEConn commented on #18
The referrer will only be android-app:// for the first navigation, maybe you're inspecting the TWA after subsequent navigations?

[2019-12-03 11:42] andreban commented on #18
@sjafarianm If you can share the APK or the start_url, I'd be happy to take a look.

[2019-12-03 14:55] andreban commented on #56
Closing, as this was added on #62

[2019-12-03 14:55] #56 closed

[2019-12-03 14:56] andreban commented on #71
This is related to #44 9 patch and SVGs are not currently supported for the splash screen.

[2019-12-06 16:45] odahcam commented on #9
For anyone in the future looking for a "how to", here it goes: https://developers.google.com/web/updates/2019/02/using-twa#add-splash-markup

[2019-12-06 19:05] azlaten opened #72 "How to know when running inside the TWA vs Browser vs PWA."
Thanks for the great project.  It's awesome for us web-only guys.

My question concerns how to identify that the user is viewing the website from inside the TWA.  I know that there is a referer during the launch, but setting a cookie or local storage based upon that referer to identify the TWA in the user's session is no good because that data is shared with Chrome as well as the PWA, if installed

[2019-12-06 22:11] mhjam commented on #72
I use the referrer approach and store my "isTWA" flag in session storage. This avoids sharing that data with Chrome. I use it to add a back button to my UI only in the TWA, and I can browse my site in parallel in Chrome and in the TWA and see the back button only in the TWA, as desired.

[2019-12-06 22:21] mhjam opened #73 "How to specify a custom icon for push notifications?"
Our PWA uses push notifications. We managed to wrap it as a TWA, thanks to this excellent demo! Our TWA does receive push notifications, but they are shown with the Chrome icon in the status bar. Is there any way to replace that with our own, app-specific icon?

I tried putting

`    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@dr

[2019-12-07 06:54] andreban commented on #72
The setting a session cooking on the first request would be my suggestion too.

[2019-12-07 17:33] azlaten commented on #72
Thanks guys.  I thought that session storage was shared between the TWA and Chrome.  Time to give that another try.

[2019-12-07 18:42] andreban commented on #72
The [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage) is shared. A TWA behaves like another tab/window open, do it doesn't share the [sessionStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage).

[2019-12-09 15:00] azlaten commented on #72
Thank you again.  Just the direction we needed.

[2019-12-09 15:00] #72 closed

[2019-12-14 13:29] sjafarianm commented on #18
That's right. Thank you.

[2019-12-18 10:51] amarj3142 opened #74 "application close issue"
created pwa app and integrated in twa android app. now i want to exit from android app from my pwa app. how i can do that, any help.
thanks in advance

[2019-12-19 12:14] Berkodev opened #75 "Lock screen orientation"
Hi,

I'm trying to figure out how to lock screen orientation to portrait (so that it doesn't switch to landscape when rotating the device) for my TWA/WebApp.

I tried locking the screen orientation both from the WebApp side (`screen.orientation.lock`) and both through the AndroidManifest (using the `android:screenOrientation` attribute), but neither of them worked.

Would appreciate help with how

[2019-12-27 18:48] alexpryshchepa commented on #17
For those who are still facing this problem, most likely in the assetlinks.json you are using SHA256 from the "Upload certificate" and not from the "App signing certificate". You can find both certificates in Google Play Console -> Release management -> App signing.

[2019-12-30 11:17] PEConn commented on #17
Hey, I'm one of the maintainers for this and TWA related stuff.

You can use [Peter's Asset Link Took](https://play.google.com/store/apps/details?id=dev.conn.assetlinkstool&hl=en_US) to generate your Digital Asset Links file for an Android app. Just install it on your device and pick your package.

[2020-01-09 20:10] matthewhartman opened #77 "Default Version Name within Build.Gradle file"
Really minor one (might not be worth changing, just something to be cautious of) is the versionName and versionCode within:
`/app/build.gradle/`

* versionName is set to `2.0.0` - worth setting to `1.0.0` ?
* versionName is set to `3` - worth setting to `1` ?

Thanks. :)

[2020-01-09 20:19] matthewhartman opened #78 "[Question]: How to do you make the icon full screen (purpose: maskable)"
Hey There,

I'm loving this boilerplate code, it's saving me a truck ton of time - really appreciate the hard work that's been put into this :+1:

One question I had was how do I set the icon to be full (eq in PWA: purpose: maskable).

I have attached a screenshot to demonstrate.

![example](https://user-images.githubusercontent.com/1294141/72101713-79752080-3379-11ea-8ad6-caad10777d6f.jpg)

Let m

[2020-01-10 08:56] andreban commented on #77
Hey Matthew,

Thanks for filing this. We have been updating the versions when we update the template. The reason is that if a developer is upgrading their app using the new template, the version numbers will be correct.

Fell free change it to versionName 1.0.0 and versionCode 1, if you are starting a new app.

Andre

[2020-01-10 08:56] #77 closed

[2020-01-10 09:11] andreban commented on #78
Hi Matthew,

Thanks for the message, we are always looking into ways of making this easier for developers.

Regarding the icon, on Android, those icons are called [Adaptive Icons][1] and they can be [generated using Android Studio][2].

Another (maybe easier) option is to use [llama-pack][3]. It's NodeJs based tool that can take a [Web Manifest][4] and generate the Android Studio project for you,

[2020-01-10 09:21] matthewhartman commented on #78
Thanks man! That is super helpful!! 💯💯💯

[2020-01-10 09:21] #78 closed

[2020-01-10 09:21] matthewhartman commented on #77
No problems. Thanks Andre! 👌

[2020-01-13 21:10] FluorescentHallucinogen commented on #60
@PEConn

Any progress on that?

[2020-01-14 10:34] PEConn commented on #60
We're going to be looking into Geolocation this quarter (no guarantees on when it will be finished).

Is there any specific API you're waiting on?

[2020-01-14 10:47] FluorescentHallucinogen commented on #60
I look forward for geolocation permission delegation.

The only nuance that I see is that we should cover the case when geolocation disabled in the OS/device settings (not Android app settings):

![1](https://user-images.githubusercontent.com/7892779/68206457-c9341600-ffdd-11e9-854c-49ca0b3c0955.png)
![2](https://user-images.githubusercontent.com/7892779/68206462-cb967000-ffdd-11e9-8938-85f975a43d

[2020-01-14 11:11] FluorescentHallucinogen opened #79 "[Proposal] Integrate in-app updates"
The web content inside TWA updates automatically via service worker. But sometimes the native Android TWA wrapper should be updated too. What about integrating Google Play in-app updates (https://developer.android.com/guide/playcore/in-app-updates)?

Do we want this?

Technically, TWAs can be distributed via other Android app stores different to Google Play.

How this affect the final app size?

I

[2020-01-14 11:31] FluorescentHallucinogen commented on #60
Also very interested how Geolocation Delegation will fit with background geolocation (https://joebirch.co/2019/03/18/exploring-android-q-location-permissions/)?

[2020-01-14 16:19] PEConn commented on #60
We don't have any answers for you now, but should do in the coming months.

On Tue, 14 Jan 2020 at 11:31, Alexey Rodionov <notifications@github.com>
wrote:

[2020-01-14 16:29] alastaircoote commented on #48
Just chiming in on this particular issue: this happens on the web as well. There's an existing Chromium bug for it, closed as WONTFIX since it is an underlying Android issue rather than a Chromium one:

https://bugs.chromium.org/p/chromium/issues/detail?id=626366

Though I'd be curious to know if the decision might be different in the context of this library rather than the browser as a whole.

[2020-01-14 16:55] naveedahmed1 commented on #48
Well, in case of installed PWA its works perfectly, then why this couldn't be fixed for TWAs?

[2020-01-16 07:37] mrbinr opened #80 "Unresolved class FileProvider"
Hi,
In my Android Studio i have « android:name="android.support.v4.content.FileProvider" » in red because « android.support.v4.content.FileProvider » seems not existing.
I've tried to find how to fix it with androidx but without success ..

What is th e rigth way to fix it ?
Thanks,
Best Regards

Pascall

[2020-01-16 07:40] mrbinr opened #81 "How to remove toaster « Running in chrome » ?"
Hi,
Is there a solution to remove bottom toaster « Running in Chrome » displayed when app for the first time ?

Thanks
Best Regards
Pascall

[2020-01-16 08:14] mrbinr commented on #80
Fixed by adding dependencies implementation "androidx.appcompat:appcompat:1.1.0" and replacing  android:name="android.support.v4.content.FileProvider" by android:name="androidx.core.content.FileProvider"

[2020-01-16 12:35] mrbinr commented on #80
in fact it not works ... this make app crashing

[2020-01-16 13:03] andreban commented on #80
The `custom-tabs-client` support library doesn't support AndroidX. We have just [released version 1.0.0][1] of [`android-browser-helper`][3], which works with AndroidX.

The latest version of `svgomg-twa` is already using it. Here's [the diff][3] with the changes made to convert it from using the old library to the new library.

[1]: https://developers.google.com/web/updates/2020/twa-android-brows

[2020-01-16 13:04] andreban commented on #74
Hi there. Sorry for the delay on getting back. Can you provide more details on what you did and what is going wrong?

[2020-01-16 13:17] mrbinr commented on #80
Thanks a lot

[2020-01-16 13:17] #80 closed

[2020-01-17 09:53] lukestateson opened #82 "White line between navigation bar and main content"
When setting navigationColor to any dark color I've noticed the white line between nav bar and main content window.

PWA app installed directly from browser does not have this line. Other native apps don't have this line either.

It is only visible when installing an APK.

Is it possible to make it the same color as navigation bar?

Here's a screenshot:

![Image](https://i.imgur.com/1wqMvfp.jpg)

[2020-01-17 10:06] andreban commented on #81
The "Running in Chrome" message is implemented on the Chrome side, so it is not really an issue on the sample project.

Work to improve it is being tracked on this Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=981323. Please, feel free to chime in it.

Closing this bug to avoid tracking the issue in two places.

[2020-01-17 10:06] #81 closed

[2020-01-17 10:08] andreban commented on #75
Locking the screen orientation is a feature that needs to be implemented on the Chrome side and is being tracked on this Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=989606.

Please, feel free to chime in it.

Closing this bug to avoid tracking the issue in two places.

[2020-01-17 10:08] #75 closed

[2020-01-17 10:14] andreban commented on #82
Thanks for filing this, @lukestateson

This needs to be implemented on the Chrome side, and is outside the scope of the SVGOMG demo. It is being tracked on this issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1021436

Feel free to chime in on the issue. I'm closing this one to avoid tracking the same issue in 2 different places.

[2020-01-17 10:14] #82 closed

[2020-01-20 15:32] #70 closed

[2020-01-20 15:33] andreban commented on #74
Closing this issue, as it's been inactive for a month. Please, re-open if you have further details.

[2020-01-20 15:33] #74 closed

[2020-01-21 18:06] FluorescentHallucinogen opened #83 "Google Play Billing"
Just found https://github.com/GoogleChrome/android-browser-helper/tree/master/playbilling, but how to use it?

[2020-01-21 18:31] FluorescentHallucinogen opened #84 "Data interface between native code and JavaScript and plug-in system"
I need to implement background geolocation that currently not supported in Web. So I plan to implement it natively. But how to pass data from native code to JavaScript (and vice versa)?

Is there standardized data interface (bridge) between native code and JavaScript?

One of the best things about Cordova is plug-ins (native code modules) + big catalog of third-party plugins published and distribu

[2020-01-21 18:42] FluorescentHallucinogen commented on #84
Is it possible to override (polyfill/shim) `navigator.geolocation` or [`GeolocationSensor`](https://w3c.github.io/geolocation-sensor/) in TWA to use native code implementation?

[2020-01-21 20:10] andreban commented on #84
There isn't a data interface, at the moment, but this is something we frequently review. This issue https://github.com/GoogleChrome/android-browser-helper/issues/55 has more details.

Can you give more details on the use-case background geolocation is being used for?

[2020-01-21 20:12] andreban commented on #83
The `playbilling` component is experimental and is still missing the counterpart implementation on the browser side. The API is still subject to change too.

[2020-01-21 20:35] FluorescentHallucinogen commented on #84
My use-case is driver's taximeter for taxi PWA that should still calculates passenger fares based on distance travelled even if the screen off or the app minimized.

Other use-cases:

https://w3c.github.io/geolocation-sensor/#use-cases-background-continuous

https://w3c.github.io/geolocation-sensor/#use-cases-background-geofence

[2020-01-21 21:01] nodabladam opened #85 "instant support"
When I try and add the following to enable instant support:
[code]
~ https://developer.android.com/guide/app-bundle/instant-delivery

I get a immediate crash and stack trace "Unable to start activity...No Activity found to handle Intent".  My guess is that it is something to do with the splash screen...I can't seem to figure out how to copy exact stack trace but it is easy to reproduce...just chec

[2020-01-21 22:15] andreban commented on #85
TWAs don't currently work with instant apps - they are unable to remove the address bar.

Having said that, I don't think the application itself should be crashing - It should work, but with the address bar visible. Would you mind post the entire AndroidManifest.xml, so I can have a better idea on what may be happening?

[2020-01-21 22:35] nodabladam commented on #85
Ok, thank you for your advice.  I won't worry about getting instant working if can't remove the address bar.

I started with the manifest from here and made these changes:
* added `xmlns:dist="http://schemas.android.com/apk/distribution"` to manifest
* added `<dist:module dist:instant="true" />` under it
* made sure there was a scheme for https and http
* added default url just under intent-filter

[2020-01-22 09:22] tobiasharle commented on #60
Are you saying that Notification.permission should return true without the need to call Notification.requestPermission?

Because that is not the case for me. I still have to request the permission even though I have my TWA setup with a DelegationService working. It is receiving the notifications I'm sending.

[2020-01-22 15:02] PEConn commented on #85
The issue with TWAs and Instant Apps isn't anything to do with Digital Asset Link verification. Essentially Instant Apps can only send explicit intents to apps that have `visibleToInstantApps="true"`, which is not the case either for Chrome's Custom Tab Service or for its Launcher Activity.

There's a Chromium bug to track this [here](https://bugs.chromium.org/p/chromium/issues/detail?id=976659).

[2020-01-22 15:33] PEConn commented on #60
Yes, that should be the case.

Are you setting `enableNotifications` to true in the build.gradle? And
verification is completing successfully?

Other than that, are you requesting the permission the instant the user
loads the page? There may be a delay with the propagation, so maybe wait
for a user interaction.

On Wed, 22 Jan 2020 at 04:22, tobiasharle <notifications@github.com> wrote:

[2020-01-22 16:22] FluorescentHallucinogen commented on #79
@PEConn @andreban What do you think about this idea?

[2020-01-22 16:36] FluorescentHallucinogen commented on #60
@PEConn @andreban I'm concerned that Notification Delegation could be used to circumvent [Quieter Notifications](https://blog.chromium.org/2020/01/introducing-quieter-permission-ui-for.html).

[2020-01-22 19:40] PEConn commented on #60
Your link doesn't talk about users getting too many notifications, but
about users getting too many notification permission prompts. Notification
Delegation helps with this because an installed TWA doesn't have to ask for
the notification permission, it gets it automatically.

Yes, it's true that a user installing a TWA can now get push notifications,
but this aligns with how native Android apps w

[2020-01-22 19:45] andreban commented on #60
Quieter Notifications aim to fix the issue where sites ask for notification permission even before a user engages with it for the first time (eg: on the first visit).

TWAs have the same behaviour as native Apps and get the notification permission by default. I think the concern here would be for developers to abuse and spam users with notifications. But this frustrates those who could be the most

[2020-01-22 20:23] FluorescentHallucinogen commented on #60
the notification permission, it gets it automatically.

I mean that some sites can abuse (misuse) this fact.

I believe the problem is not as simple as it seems at first glance.

Installation is even before the first visit. So using installation as a strong signal for accepting permission is bad idea. If the user installed the app (wrapper), it doesn't mean that he even started it, saw the content

[2020-01-22 20:30] andreban commented on #79
Thanks for filing this @FluorescentHallucinogen, and sorry for the delay.

I haven't been able to take a deeper look into this yet. I did experiment with TWA and App Bundles a while ago, but didn't collect data on the impact on the APK size. The project also had other libraries and code, so it might not provide a good measurement anyway.

The interesting thing here would be having a mechanist to i

[2020-01-22 20:42] andreban commented on #60
Currently, the **only** permission granted by default on TWAs is the notification permission. Other works like in the Web. We are looking into making other permissions consistent to native apps, but analyzing case-by-case.

We are definitely going to keep track on how the this is being used by developers.  Android itself is also constantly looking into how native apps are using this, and working o

[2020-01-23 09:18] tobiasharle commented on #60
No, but I have added a service (overriding the DelegationService) to my manifest and it's always enabled and exported. It successfully receives web push notifications. Is there something more to the enableNotifications flag that I'm not seeing?

What verification is that?

It's done on user interaction

[2020-01-27 21:55] mathcoll opened #87 "Using FCM message/pushNotification to TWA"
Hi team,

I have a TWA using "enableNotification" = true in the build.gradle
I can successfully send FCM message from Firebase account; and they are received on the App.
I'm also able to send successfully pushNotification from webpush GCM (from my own server); but those pushNotification seems only received from the web, not the App (I guess that's on purpose, right ?)

My goal would be to send (an

[2020-01-28 14:40] PEConn commented on #60
@tobiasharle That is strange - if your TWA is getting notifications through notification delegation, then auto-enrolment should also be working (unless you're using a version of Chrome before 75).

Is the notification permission for the TWA in your Android settings not blocked? Are you doing anything fun in your override of DelegationService?

Either way if I could see your code or an example APK,

[2020-01-28 16:49] andreban commented on #87
Hi @mathcoll

On TWAs, push notifications will work just like in the web. No need to write native code for it to work. This is the documentation for using web push with firebase: https://firebase.google.com/docs/cloud-messaging/js/client

[2020-01-29 08:08] jogire opened #88 "PWA : ask users to update chrome version"
Lost of old users(around 25% in my case) are using older version of chrome or not using chrome.

On App start how can i redirect them with a message to update / install chrome on mobile.

[2020-01-29 08:08] #88 closed

[2020-01-29 08:12] navinSing opened #89 "PWA : ask users to update chrome version"
Lost of old users(around 25% in my case) are using older version of chrome or not using chrome.
On App start how can i redirect them with a message to update / install chrome on mobile.

[2020-01-29 10:25] PEConn commented on #89
Hey,

(As some context, svgomg-twa pulls in the [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper) library.)

We already have [this feature](https://github.com/GoogleChrome/android-browser-helper/blob/5f6d124afa28b1693bc2f047f570656a06d057a6/androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/ChromeUpdatePrompt.java) for old versions of Chrome.

[2020-01-29 10:30] andreban commented on #89
Adding to what Peter said, the WebView fallback demo shows [how to add your own behaviour ](https://github.com/GoogleChrome/android-browser-helper/blob/5a0accde2341108fcc7eb7d0b0e0d7ce45a29962/demos/twa-webview-fallback/src/main/java/com/google/browser/examples/twawebviewfallback/MyLauncherActivity.java#L25-L32)when a browser that supports TWAs is not available.

It would be possible to, instead o

[2020-02-01 17:34] alex2844 commented on #72
In chrome os the referrer is empty

[2020-02-01 17:37] alex2844 commented on #72
https://github.com/GoogleChrome/android-browser-helper/issues/64

[2020-02-01 17:38] alex2844 commented on #72
https://github.com/GoogleChrome/android-browser-helper/issues/64

[2020-02-03 09:01] mhjam commented on #73
I found it myself: You can send the URL to the icon to be used along with the notification in the "badge" property (see https://developer.mozilla.org/en-US/docs/Web/API/notification/badge).

[2020-02-03 09:01] #73 closed

[2020-02-03 17:28] tomsawada commented on #17
@alexpryshchepa > For those who are still facing this problem, most likely in the assetlinks.json you are using SHA256 from the "Upload certificate" and not from the "App signing certificate". You can find both certificates in Google Play Console -> Release management -> App signing.

I owe you a beer. ;)

[2020-02-03 19:46] FluorescentHallucinogen commented on #59
:tada:

[2020-02-03 19:46] #59 closed

[2020-02-04 01:44] dwaring87 opened #90 "App Shortcut Error"
When starting an app shortcut, I get either a "permission denied" error or "app not installed" error, depending on the phone.  I think the intent target class needs to be updated to `com.google.androidbrowserhelper.trusted.LauncherActivity`

https://github.com/GoogleChromeLabs/svgomg-twa/blob/a3296efcdbc64819126c290186f45569dad7a317/app/build.gradle#L150

[2020-02-04 14:23] tsukasagenesis opened #91 "Support android tv"
Hello,

I tried to launch the TWA on android TV, and I got this error :

[code]

then the application crash.

any idea how I could make it work ? I saw that google is pushing youtube and other in PWA to android TV.

Best regards.

[2020-02-05 09:51] tobiasharle commented on #60
@PEConn For the moment, I reverted to not overriding DelegationService to avoid any potential sources of error.
It seems as there is some kind of connection between the site and the app but it is not working as I expect it to so let me break it down in detail:

1. I install my TWA app and it navigates to my site.
2. The site checks the value of `Notification.permission`. It is _"default"_ (**Expec

[2020-02-05 13:28] tobiasharle commented on #60
@PEConn I have found the problem! In my intent-filter I was specifying a pathPattern like so:
[code]
Once I removed the pathPattern attribute everything worked smoothly!

Is that to be expected or is it a bug?

[2020-02-06 12:38] andreban commented on #90
@rayankans would you know what may be happening?

[2020-02-06 13:04] rayankans commented on #90
I'm not sure, I'm unable to repro. @PEConn Do you know what the right target class should be?

[2020-02-07 10:00] PEConn commented on #90
I think @dwaring87  is correct, although I'm surprised @rayankans is unable to reproduce.

@rayankans are you creating the app with `svgomg-twa` or with `llama-pack`? (It looks like both of them have this error in though).

The targetClass here needs to match up with an Activity in AndroidManifest, and in both [svgomg-twa][1] and [llama-pack][2], this is `com.google.androidbrowserhelper.trusted.La

[2020-02-07 11:29] ankitarora05 commented on #17
Hi

I am stuck in a  weird issue please if anyone can help in this would appreciate the effort.
My apk file generated from android studio when i install it on my phone i do not see the url bar on the top
but when i download and install the same apk file from playstore i am seeing the url.
APK File: [photodollar](https://drive.google.com/file/d/19Ft5STephb-2zFig2DwqvdMX4Ouwcj3a/view?usp=sharing)
Pl

[2020-02-07 12:05] PEConn commented on #17
Download (this app)[
https://www.google.com/url?sa=t&source=web&rct=j&url=https://play.google.com/store/apps/details%3Fid%3Ddev.conn.assetlinkstool%26hl%3Dgsw&ved=2ahUKEwi37L_asr_nAhWhqHEKHbICBt8QjjgwAXoECAYQAQ&usg=AOvVaw2GMG02BfMumgpPtbe9_N-a]
onto your phone, open it and select your TWA installed from the play store.

It will give you the contents of the digital asset link file that you need
to

[2020-02-10 10:16] PEConn commented on #60
That is strange - it's probably a bug, but I need to have a think about what `pathPattern` does and whether it makes sense.

Why were you using it?

[2020-02-10 10:18] PEConn commented on #60
(tracking the Chrome side of this bug at https://crbug.com/1050514 )

[2020-02-10 10:30] rayankans commented on #90
According to @andreban's comment [here](https://github.com/GoogleChromeLabs/llama-pack/pull/99#discussion_r376483601), this should have been updated to `com.google.androidbrowserhelper.trusted.LauncherActivity` after the migration to `androix.browser-1.2.0`.

[2020-02-10 10:42] andreban commented on #90
#92 should fixes the demo code. @dwaring87 Could you try changing this in your app and let us know if it fixes the issue?

[2020-02-10 12:05] dwaring87 commented on #90
@andreban updating the target class does fix the issue for me.

[2020-02-11 18:36] kondulak10 opened #93 "URL bar still present when released"
Hello,
Testing on: Redmi Note 7, Chrome 79.0,3945.136
- PWA working by itself from the browser
- Deployed to Play store
- Assetlinks SHA same as App signing certificate
- Connection tested in Console

But the URL bar still remains there.

![Screenshot_2020-02-11-19-13-07-278_dev conn assetlinkstool](https://user-images.githubusercontent.com/2103269/74266693-03136780-4d05-11ea-8719-cb34e3ceae7f.jpg

[2020-02-11 18:46] kondulak10 commented on #93
I got it remotely tested by other people on S9 and J530F and the URL bar is not apparently there. Does it have to do something with the versions of something?

[2020-02-11 18:48] andreban commented on #93
Would you mind trying to clear Chrome data and retry?  I'm wondering if
theres something cached.

On Tue, 11 Feb 2020, 18:46 Jan Kondula, <notifications@github.com> wrote:

[2020-02-11 18:53] kondulak10 commented on #93
Thank you very much! We have been stuck on that for a month and it is a first time I hear about this as a potential issue. Deleting the whole Chrome data solved it.

[2020-02-11 18:53] #93 closed

[2020-02-12 08:33] naveedahmed1 commented on #48
Update & Feedback:

I have updated my TWA with latest version of `svgomg-twa`, below is my feedback:

Clicking Push Notification or action button no longer opens the app rather it opens the link in the web browser.

Though it seems that clicking back button now minimizes the app, and its still running in background. But when I click the app icon again, it shows the splash screen instead of instant

[2020-02-12 10:35] andreban commented on #48
@naveedahmed1

We're moving to [llama-pack](https://www.npmjs.com/package/@llama-pack/cli) instead of svgomg-twa. I'd recommend using that when generating / updating TWA projects. This repo will still be around, and we'll update the content via llama-pack.

Even if you intent to bootstrap the project and then customise in Android Studio, the template in llama-pack will be the most up-to-date.

Cou

[2020-02-12 11:19] naveedahmed1 commented on #48
Thank you so much @andreban

This sounds great! I just tried it but its throwing error at this step:

[code]

I am entering https://www.mustakbil.com/content/images/icon-512x512.png as the url.

**Here's my build.gradle file:**

[code]

**Here's my AndroidManifest.xml**

[code]

[2020-02-12 17:30] andreban commented on #48
re: llama-pack, I think you've hit this bug: https://github.com/GoogleChromeLabs/llama-pack/issues/100 I'm on it.

[2020-02-12 17:50] naveedahmed1 commented on #48
Thanks for the update @andreban . We have deployed our TWA to Play Store here's the link if you to check https://play.google.com/store/apps/details?id=com.mustakbil

[2020-02-13 13:39] bschlie opened #94 "Push notifications open in new a Chrome tab instead of TWA after Chrome 80"
Hi.

I'm working on a TWA and until recently I have been able to receive FCM notifications and open the TWA by pressing them.
But now, instead of open the link in the TWA, the page is opened in a new chrome tab . I suspect the change is caused by the latest Chrome update 80.0.3987.87.
When using Chrome version 79.0.3945.136 it works as expected.

Debugging the service worker in the PWA shows that

[2020-02-13 22:51] naveedahmed1 commented on #94
I am also having the same issue, with latest version of `svgomg-twa` on Chrome 80.x

[2020-02-13 22:57] naveedahmed1 opened #95 "TWA Throwing Error - android.app.RemoteServiceException"
I am seeing crash reports in Play Console with latest version of TWA which is based on `svgomg-twa`

[code]

**Reports by Devices**:
**Galaxy Grand Prime (fortuna3g)**:10
**Galaxy S4 (jflte):** 4

[2020-02-13 23:06] rockeynebhwani commented on #95
@andreban  / @PEConn  - +1 on this issue from my side. We are also seeing this for George TWA app. Here is OS / device breakdown

![image](https://user-images.githubusercontent.com/1718757/74486711-7a87f900-4eb5-11ea-94e2-8e083d501bc6.png)

[2020-02-13 23:07] naveedahmed1 opened #96 "TWA Throwing Exception - java.lang.NullPointerException"
I am seeing crash reports in Play Console with latest version of TWA which is based on svgomg-twa

[code]

[2020-02-13 23:09] naveedahmed1 commented on #94
I'm also not sure if this should be reported here or it should be reported directly to Chrome team.

[2020-02-14 08:19] andreban commented on #94
@naveedahmed1 The team developing the feature in Chrome and the support library do check the issues on svgomg-twa as well (and we also talk to each other). Having said that, the best place to file this bug is indeed in bugs.chromium.org.  This is the right component: https://bugs.chromium.org/p/chromium/issues/list?q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities&can=2

[2020-02-14 08:21] andreban commented on #96
Is this the same issue as the on here: https://bugs.chromium.org/p/chromium/issues/detail?id=983531&q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities&can=2?

If it is, would you mind chiming in that issue?

[2020-02-14 08:22] andreban commented on #95
Would you mind filing this bug in bugs.chromium.org, under this component: https://bugs.chromium.org/p/chromium/issues/list?q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities&can=2 ?

[2020-02-14 08:22] #90 closed

[2020-02-14 10:05] naveedahmed1 commented on #94
Thank you so much @andreban, I have filed the issue there https://bugs.chromium.org/p/chromium/issues/detail?id=1052288&can=2&q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities

[2020-02-14 12:41] tobiasharle commented on #60
I believe it was added to make sure that all clicked links with any sub-path was handled by the app and not opened in the browser.

[2020-02-14 16:04] naveedahmed1 commented on #95
Thank you so much @andreban I have filed the bug here https://bugs.chromium.org/p/chromium/issues/detail?id=1052365&can=2&q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities

Somehow it seems that the category isn't properly assigned, the components list doesn't show category of `component:UI>Browser>Mobile>TrustedWebActivities`. Its only showing `Blink` components.

[2020-02-16 09:00] magnusarinell commented on #67
I'm having the same issue.

I believe I've got the setup right. When running my app on emulator no url i showing, but on the pre launch report for the submitted app I can see that the screenshots show an url field. Perhaps unrelated.

[2020-02-17 09:43] andreban commented on #67
@magnusarinell Have you received a rejection email from Play? The URL field showing seems more like the Digital Asset Links validation failing.

[2020-02-17 09:54] magnusarinell commented on #67
@andreban yes I recieved a rejection mail from Play. However I then changed the target audience to 13+ and the app was approved (it's called iStoriez). It is primarily intended for parents reading stories to their children but for I think it could be nice for kids to read stories by themselves. So it seemed in my case that a TWA was not allowed for apps which included ages under 13.

The URL field

[2020-02-17 10:03] andreban commented on #67
Gotcha! Thanks for clarifying.

[2020-02-17 10:05] andreban commented on #95
@naveedahmed1 I have added the component to the bug.

[2020-02-17 10:07] naveedahmed1 commented on #95
Thank you so much @andreban :)

[2020-02-18 16:28] naveedahmed1 commented on #95
@andreban this is what they are saying:

https://bugs.chromium.org/p/chromium/issues/detail?id=1052365#c5

Does this mean that its something that needs to be resolved in this repo?

[2020-02-19 09:16] naveedahmed1 opened #97 "TWA Throwing Error - java.util.concurrent.TimeoutException android.os.Parcel.nativeDestroy"
I am seeing crash reports in Play Console with latest version of TWA which is based on svgomg-twa

[code]

[2020-02-20 23:31] Oli22 opened #99 "Change android launcher behavior"
Every time I launch the app from the Android launcher I am redirected to the launchUrl set in the twaManifest. That's no good behavior for actually using the app. Imagine the User looking for example at his shopping cart, he moves into another app and thereafter wants to go into the TWA again. If he does it via the app switcher everything works as expected, but if he clicks on the icon the launchU

[2020-02-21 08:21] andreban commented on #30
Closing this issue, as llama-pack solves this

[2020-02-21 08:21] #30 closed

[2020-02-21 08:21] andreban commented on #42
Closing the issue here, in favour of tracking in chromium bugs.

[2020-02-21 08:21] #42 closed

[2020-02-21 08:23] andreban commented on #48
Closing the issue, as the the problem has been fixed in llama-pack and other issues are being tracked elsewhere.

[2020-02-21 08:23] #48 closed

[2020-02-21 08:25] andreban commented on #52
[Play documentation](https://support.google.com/googleplay/android-developer/answer/3131213?hl=en-GB) would be the best place to look into deployments.

[2020-02-21 08:25] #52 closed

[2020-02-21 08:26] andreban commented on #58
Closing the issue here, in favour of tracking in Chromium Bugs: https://bugs.chromium.org/p/chromium/issues/detail?id=965329

[2020-02-21 08:26] #58 closed

[2020-02-21 08:28] andreban commented on #60
Closing the issue here, as the question has been answered and the issue is being tracked on Chromium Bugs

[2020-02-21 08:28] #60 closed

[2020-02-21 08:29] #83 closed

[2020-02-21 08:30] andreban commented on #85
Closing the issue here in favour of tracking it in Chromium Bugs

[2020-02-21 08:30] #85 closed

[2020-02-21 08:31] andreban commented on #84
Closing the issue here, in favour of tracking it in GoogleChrome/android-browser-helper#55

[2020-02-21 08:31] #84 closed

[2020-02-21 08:33] andreban commented on #89
Closing the issue, as the feature already exists. Please, file a bug on Chromium Bugs if it's not working as intended.

[2020-02-21 08:33] #89 closed

[2020-02-21 08:34] andreban commented on #94
Closing the issue here, in favour of tracking it in Chromium Bugs

[2020-02-21 08:34] #94 closed

[2020-02-21 08:35] andreban commented on #96
Closing the issue here, in favour of tracking it in Chromium Bugs

[2020-02-21 08:35] #96 closed

[2020-02-21 08:37] andreban commented on #95
This repository doesn't contain any Java code and just uses code that is part of android-browser-helper. We're centralising issues on bugs.chromium.org, as we're getting duplicated issues across many surfaces. Closing the issue here in favour of bugs.chromium.org.

[2020-02-21 08:37] #95 closed

[2020-02-21 08:40] andreban commented on #87
Closing this issue, as it's been inactive for almost a month. The best place to ask trusted web activity questions is on StackOverflow, on the [trusted-web-activity](https://stackoverflow.com/questions/tagged/trusted-web-activity) tag.

[2020-02-21 08:40] #87 closed

[2020-02-21 09:10] SvenBudak commented on #30
@andreban is there somewhere a tutorial how Ilama-pack is to use? its a package that we should use additional to SVGOMG-TWA ? or we dont need SVGOMG-TWA any more?

[2020-02-21 09:14] andreban commented on #71
Created this [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1054736) on bugs.chromium.org to track this as a feature request.
Closing the issue here in favour of that one.

[2020-02-21 09:14] #71 closed

[2020-02-21 09:14] andreban commented on #44
Created this [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1054736) on bugs.chromium.org to track this as a feature request.
Closing the issue here in favour of that one.

[2020-02-21 09:14] #44 closed

[2020-02-21 09:20] andreban commented on #91
Trusted Web Activity are not supported on Android TV.  I have created this [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1054737) to track this as a feature request on bugs.chromium.org. Closing the issue here in favour of that.

[2020-02-21 09:20] #91 closed

[2020-02-21 09:24] andreban commented on #30
The [README file](https://github.com/GoogleChromeLabs/llama-pack/blob/master/packages/cli/README.md) on the [llama-pack](https://github.com/GoogleChromeLabs/llama-pack) repository should have the details you need. Please, file a bug against llama-pack if there's something missing or unclear.

[2020-02-21 09:29] andreban commented on #99
This is  an issue on the Chrome / Support Library side.  Can you please file on issue on bugs.chromium.org using this [template](https://bugs.chromium.org/p/chromium/issues/entry?components=UI%3EBrowser%3EMobile%3ETrustedWebActivities)? Please, also add information about the device you are using and Chrome version. I'll close the issue here in favour of the one filed there. Thank You.

[2020-02-21 09:29] #99 closed

[2020-02-21 09:31] andreban commented on #97
This is an issue on the Chrome / Support Library side. Can you please file on issue on bugs.chromium.org using this template? Please, also add any information about the device,  android version, android-browser-helper version and browser versions you have. I'll close the issue here in favour of the one filed there. Thank You.

[2020-02-21 09:31] #97 closed

[2020-02-21 09:34] andreban commented on #79
I have created an [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1054739) to track this in Chromium Bugs. Closing it here in favour of that one.

[2020-02-21 09:34] #79 closed

[2020-02-21 09:45] andreban commented on #69
Closing this in favour of tracking in llama-pack: https://github.com/GoogleChromeLabs/llama-pack/issues/107

[2020-02-21 09:45] #69 closed

[2020-02-21 09:49] andreban commented on #66
Closing this, as it seems PEConn's response solves the issue.

[2020-02-21 09:49] #66 closed

[2020-02-21 10:03] naveedahmed1 commented on #97
Thank you @andreban I have posted it here https://bugs.chromium.org/p/chromium/issues/detail?id=1054744

[2020-02-21 10:15] naveedahmed1 commented on #97
Can you please also assign component component:UI>Browser>Mobile>TrustedWebActivities to this issue as well:

https://bugs.chromium.org/p/chromium/issues/detail?id=1054745

[2020-02-21 10:53] andreban commented on #97
done

[2020-02-21 10:54] naveedahmed1 commented on #97
Thank you so much :)

[2020-02-23 23:04] jahooma commented on #94
I hope this can be fixed soon!

[2020-02-28 22:35] sgruetter commented on #35
As [this SO answer suggests](https://stackoverflow.com/a/54648449), the fingerprint might be wrong. With [Peter's Asset Link Tool](https://play.google.com/store/apps/details?id=dev.conn.assetlinkstool) you can extract the correct one.

As the author of the app writes:

So you need to take the signature from the Play Store's build.

Google's TWA article could probably be clarified a bit if several

[2020-03-03 14:05] spike99 opened #100 "TWA top url bar not hiding"
The bar with url does not disappear I signed the application. I made a folder in public_html on my host with folder and file .well-known/assetlinks.json
Work when I install the application from my site directly. but when I upload the application to google play store and install it again the top bar appears. Why?

[2020-03-04 06:08] FluorescentHallucinogen commented on #100
Because Google Play re-sign APK and `assetlinks.json` should be updated. Read more: https://developers.google.com/web/updates/2019/08/twas-quickstart#play-store-signing

[2020-03-09 14:20] andreban commented on #100
The best place to ask Trusted Web Activity questions is in this [StackOverflow tag](https://stackoverflow.com/questions/tagged/trusted-web-activity). Closing the issue, as it's not related specifically to svgomg-twa.

[2020-03-09 14:20] #100 closed

[2020-04-09 16:29] rod-stuchi opened #101 "Unable to instantiate service androidx.browser.trusted.TrustedWebActivityService"
Hi

I'm have trouble in a cold start of the App

![screenshot 2020-04-09T13 16 40](https://user-images.githubusercontent.com/19471811/78916955-9991aa00-7a64-11ea-9aae-ce9983e8f70e.png)

[code]

Is anyone having this problem?

[2020-04-09 16:48] andreban commented on #101
Hi @rod-stuchi, would you mind posting your `build.gradle` and `AndroidManifest.xml`? Also,  we do recommend bootstrapping an app with Bubblewrap (https://github.com/GoogleChromeLabs/bubblewrap) instead of cloning svgomg-twa nowadays. If you are not adding any custom code, it also builds the project (you still need a JDK and Android CLI tools, but not Android Studio)

[2020-04-09 16:59] rod-stuchi commented on #101
Hi @andreban thanks!

I'm doing more tests to confirm, but apparently it's solved by this.

[code]

⚠ This problem started just after I setup the `.well-known/assetlinks.json` to hide the address bar

The files you requested
[files.tar.gz](https://github.com/GoogleChromeLabs/svgomg-twa/files/4457562/files.tar.gz)

[2020-04-09 20:06] andreban commented on #101
So, the error was caused by this:

[code]
Check how it should like in the sample: https://github.com/GoogleChromeLabs/svgomg-twa/blob/master/app/src/main/AndroidManifest.xml#L93-L102

Summarising, where it reads `android:name="androidx.browser.trusted.TrustedWebActivityService"` it should be `android:name="com.google.androidbrowserhelper.trusted.DelegationService"`

**Don't use `com.github.GoogleC

[2020-04-09 23:01] rod-stuchi commented on #101
@andreban thank you so much!
You saved the day 🙏

[2020-04-09 23:01] #101 closed

[2020-04-18 10:21] Biswajitdeveloper opened #102 "how to use fcm push notification on TWA apk"
I need to convert PWA to apk . I use this project for building apk . But in apk fcm push notification not working, also user device token not save in database or cookies. please tell me how can I do this?

[2020-04-20 08:39] andreban commented on #102
@Biswajitdeveloper the best place to ask this question is on StackOverflow, under the https://stackoverflow.com/questions/tagged/trusted-web-activity/ tag. Would you mind re-posting the question there? I'm closing the issue here, as this is somewhat unrelated to this repo (the demo in it doesn't use push notifications).

[2020-04-20 08:39] #102 closed

[2020-04-28 02:39] naveedahmed1 commented on #94
I think the issue isn't fully fixed, I posted a comment here https://bugs.chromium.org/p/chromium/issues/detail?id=1052288&can=2&q=component%3AUI%3EBrowser%3EMobile%3ETrustedWebActivities

But I am not sure if its still being tracked or not, since the issue is already marked as closed.

@andreban can you please take a look, and if required please reopen the issues?

[2020-04-28 06:59] jitendra1607 opened #103 "Does TWA notification delegation handle sound also?"
Does TWA notification delegation handle sound also as defined in PWA service worker ? How notification sound works?

[2020-04-28 08:50] andreban commented on #94
@naveedahmed1 Your comment looks like a slightly different issue where instead of re-using an instance of the app, another is created. Would you mind filing a separate bug? It'd be great if you could record a video of the issue. (PS: I've been working on a [thing][1] that may [make recording stuff like that easier])

[1]: https://bandarra.me/projects/webusb/screenrecord.html
[2]: https://twitter.c

[2020-04-28 10:51] beverloo commented on #103
The default behaviour will match what happens when receiving the same notification in Chrome without having the PWA installed.

Regarding `sound`, the Web Notification API does not provide an option to configure your own sound. Instead, it has a `silent` flag, but we stopped supporting that flag on Android O due to changes in the system notification center that no longer allow setting this on a pe

[2020-04-28 10:59] jitendra1607 commented on #103
Thank you for your insights. I am web developer so I understood your point but find it hard to override thing in java. Can you post sample code so that we can have sound also like native app?

[2020-04-28 11:10] beverloo commented on #103
I don't have any unfortunately, but perhaps @andreban is aware of examples?

[2020-04-28 11:12] jitendra1607 commented on #103
Thank you. @andreban can you help me please?

[2020-04-28 12:31] andreban commented on #103
I'll work on adding a demo to android-browser-helper and created https://github.com/GoogleChrome/android-browser-helper/issues/91 to track that.

If custom sounds are something we see developers looking for frequently, we can add support to enable it by configuration on the default delegation service.

[2020-04-28 12:35] jitendra1607 commented on #103
@andreban Thank you sir.

[2020-04-28 17:03] naveedahmed1 commented on #94
Thanks @andreban I have filed a new issue here https://bugs.chromium.org/p/chromium/issues/detail?id=1076039 , can you please assign the appropriate category so that it reaches to the TWA team.

I have also attached the video. Your tool was super convenient and useful, great job 👍

I found few posts saying that Video recording is availabe in Android 10 but its behind a flag.

[2020-04-30 10:56] andreban commented on #103
I created a PR for a Notification Delegation demo (with custom sound) here: https://github.com/GoogleChrome/android-browser-helper/pull/93

[2020-04-30 11:04] jitendra1607 commented on #103
@andreban Great, i will try it now.

[2020-05-01 08:43] bsde1234 commented on #45
Any javascript code to differentiate between android browser and in-app browser that can be inserted/used in website? Can I use the same tag manager? Please explain.

[2020-05-01 09:36] andreban commented on #45
This is beyond the scope of this sample. Would you mind asking this question on http://stackoverflow.com/? The chance of getting help from people who fully understand GTM is way higher.

[2020-05-02 00:32] bsde1234 commented on #45
@andreban already posted there, please check it.

[2020-05-02 07:44] #103 closed

[2020-05-03 08:45] jitendra1607 opened #104 "My TWA is crashing multiple times."
My TWA is crashing multiple times. I am including some error text from play console dashboard. I am not android developer so I can not understand these errors.
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-05-11 21:43] matthewhartman commented on #67
Hey Guys,

Hope you're all well in these crazy times.

Was checking up with the progress of this.

Cheers guys.

[2020-05-13 12:37] PEConn commented on #94
Hey @naveedahmed1, I'm unable to reproduce - do you mind sharing an `adb logcat` of what's going on? (Do have a look through it before sharing, it may contain personal information.)

Also, you're creating your TWA by using bubblewrap right?

[2020-05-13 20:55] naveedahmed1 commented on #94
Thank you for your reply @PEConn the current version is based on https://github.com/GoogleChromeLabs/svgomg-twa

I just deployed a new version with App Icon Shortcuts, this version is based on bubblewrap, but I think it will take some time before it goes live.

I will try adb logcat, btw one of your team member was able to reproduce the issue as reported here https://bugs.chromium.org/p/chromium/i

[2020-05-16 08:19] egemon commented on #4
Hi guys! Had the same problem.
Wanna let u know that in my case issue was that previous assetlinks.json file was CACHED in default browser (chrome in my case).
So verification were always failing and this depends on server which serves static.
So u have to go to website with the same browser and just clear cache to apply changes.
Hope this will help smbd.

[2020-05-19 15:00] PEConn commented on #94
Sorry for the delay, I've been quite busy - is there any chance you've given `bubblewrap` a go, and if so, does the issue still happen?

[2020-05-19 15:45] naveedahmed1 commented on #94
Thanks @PEConn for your reply. Yes the current version of our app is based on bubble wrap but issue still persists.

[2020-05-20 13:18] PEConn commented on #94
Looking at the [video you provided][1], at about 4 seconds, you open the notification drawer and show two notifications.

Notification #1 starting with "Email chat support specialist" which is branded with the icon of your app and notification #2 starting with "Experienced C# developer", which is branded with the Chrome icon.

Are these both web push notifications? I'm confused as to how one of th

[2020-05-20 14:43] naveedahmed1 commented on #94
I'm not sure why it's showing the icon with one notification and not with other but both are web notifications.

I just tested it again with latest version of the app which is based on Bubblewrap, tapped on the notifications (branded) and the issue still exists.

[2020-05-20 17:45] Rishabh-sx commented on #17
Hi @andreban,

I have verified my web asset linking on
https://developers.google.com/digital-asset-links/tools/generator
and SHA fingerprint from
https://play.google.com/store/apps/details?id=dev.conn.assetlinkstool

I have done asset linking with 5 servers and observing weird things happening with my app.

1.  On one device 2 different domain URLS are working fine but the other 3 are showing up w

[2020-05-24 03:57] matthewhartman opened #105 "[Question] Adsense in PWA/TWA"
Hi Guys,

Hope you're all keeping well.

Just had a general question about integrating Adsense into a PWA/TWA app - just wondering if it's currently possible? - if so, could you please point me in the right direction for documentation or an example.

Thanks again and looking forward to hearing back from you soon.

Cheers,

Matt

[2020-05-25 17:13] b1tr0t commented on #67
Hi Matthew - there will be a policy update in the near future that will clarify the Family Policy with respect to web content.

Unfortunately it will still not be possible to comply with Family policy with content that's loaded from WebView or TWA.  This is due to the difficulties in reviewing these apps for policy compliance especially when any aspect of app behaviour can change with a server-sid

[2020-05-25 22:21] matthewhartman commented on #104
Hey @jitendra1607

Interesting issue. Do you mind pasting the contents of your `/app/build.gradle` file so I can try and help.

Cheers.

[2020-05-25 22:22] matthewhartman commented on #67
That makes sense @b1tr0t - thanks for clarifying.

The options you have provided look alright, I will look into them further, but I really appreciate you giving the options.

Thanks again man! :pray:

[2020-05-25 22:27] matthewhartman commented on #67
That makes sense @b1tr0t - thanks for clarifying.

The options you have provided look good, I will look into option A.

In regards to option b, how would I go about this? Not quite clear on this option.

I really appreciate you giving the options so far too - thanks again man! :pray:

[2020-05-25 22:56] b1tr0t commented on #67
With option (b) the idea would be that we would restrict network requests to domains that were validated by digital asset links.  (You need to do this to get the TWA to work anyway).  Any network requests that were for a non-validated domain would instantly fail.

So for example, you could request any resource (HTML, JS, Image etc) from https://yoursite.com/  but nothing from https://someothersite

[2020-05-25 23:03] matthewhartman commented on #67
I see. This might be a tricky one to achieve as my app is currently hosted on Github pages - not sure if I have control over this?

When the app is under review - would they verify this something like this? - is this part of the app review process?

[2020-05-25 23:08] nhoizey commented on #67
I guess option (b) would then prevent us from using any third party service like Google Analytics.

[2020-05-26 08:19] andreban commented on #105
Hi @matthewhartman,

I have posted / answered the question for you on StackOverflow: https://stackoverflow.com/questions/62017395/is-it-possible-to-use-adsense-in-a-pwa-trusted-web-activity-app/62017543#62017543

Andre

[2020-05-26 08:19] #105 closed

[2020-05-26 08:20] matthewhartman commented on #105
Thanks man!!

[2020-05-26 08:29] PEConn commented on #104
Hey, I'd recommend using either [bubblewrap][1], which is a command line tool for generating TWAs or the more hands [android-browser-helper][2] instead of this project. They're the recommended, up to date way of making TWAs, this project is mostly deprecated (see the top bit of the [README][3]). (`llama-pack` is what `bubblewrap` used to be called, we should update that.)

[1]: https://github.com/

[2020-05-26 12:52] AlexBorsody commented on #104
Seems like may be best to stick with WebView, to avoid code updates every few months, unknown crashes and of course the "running in Chrome toast." In addition, sharing the same state as the browser can also be confusing, I don't native device features for now so WebView is probably the best solution until TWAs are better supported.  I like the small package size but too many other issues. I look f

[2020-05-26 13:49] andreban commented on #104
Thanks for the feedback, @AlexBorsody

I agree that, as library matures, we'll have less issues and the need to update will become more sparse.

Though, It's fair to say that, once a developer creates an app and uploads to a store, they need to update it with some frequency. It may be cause the [minimum target SDK requirement changed](https://developer.android.com/distribute/best-practices/develop

[2020-05-26 22:58] matthewhartman commented on #104
Thanks for all your hard work guys and for the helpful resources. Really appreciate it! :muscle:

[2020-05-29 13:01] magnusarinell commented on #67
@b1tr0t sounds like good options, for me both cases will work I guess.

My TWA app was interestingly enough removed from Google Play, I got a message that I was violating the Webviews and Affiliate Spam policy. I wonder if it had anything to do with the fact that I had added one page with external links. I got the message after posting some updates to my store listing texts.

[2020-05-29 17:04] jitendra1607 commented on #104
I have a suggestion, till then this TWA thing matures we can have global
exception handler to catch all exception. Then this handle should open
chrome browser with PWA link. This way users will have working app somehow.

On Tue, 26 May, 2020, 19:19 André Cipriani Bandarra, <
notifications@github.com> wrote:

[2020-06-03 14:57] PEConn commented on #94
Is there any chance you could add some test page to your website that would display a notification without requiring the user to be signed in? Could you also attach and up-to-date APK? (I'm using test emulators that don't have the Play Store installed.)

[2020-06-03 15:35] naveedahmed1 commented on #94
Here's the apk [app-release.zip](https://github.com/GoogleChromeLabs/svgomg-twa/files/4724398/app-release.zip)

If you have notifications enabled for the app (the bell icon shown on bottom left is blue), you should be able to receive non personalized notifications about new job postings.

[2020-06-04 08:02] PEConn commented on #94
Hey,

Unfortunately I'm finding it hard to get to a place where I can test notifications with your app. (As an aside, the app you sent me was an `aab`, which needs to be converted to an `apk` before it is installed. Converting an `aab` to an `apk` requires resigning, so I can't do it otherwise digital asset links will break. No worries about this though, I downloaded on a different device from the

[2020-06-04 10:08] naveedahmed1 commented on #94
I'm really sorry for the inconvenience. Can you please try it one more time, it shouldn't ask you to create resume now.

[2020-06-04 10:26] PEConn commented on #94
Ah cool, I've enabled notifications now, just have to wait to get one! I'm getting an odd issue where I click on the notification icon in the bottom left, it turns blue then if I refresh the page (pull down from the top) it turns yellow again.

I must say your app is very nicely designed - it's very fluid to navigate around.

[2020-06-04 11:17] naveedahmed1 commented on #94
Glad to know it finally works on your device.

Have you received any notifications?

If you relaunch the app whats the default color of the notifications icon? If its blue this means that the notifications are enabled, if its yellow, this means that there's some issue.

If its Yellow, tap once, close and then launch again and see if the bell icon is blue or still same.

Thank you so much for the k

[2020-06-04 11:32] PEConn commented on #94
Unfortunately no notifications yet.

You can see a video of what's happening [here](https://bugs.chromium.org/p/chromium/issues/detail?id=1076039#c7) (GitHub doesn't support mp4 attachments.)

[2020-06-04 11:38] naveedahmed1 commented on #94
Oh that's strange, it seems that the Push Registration is failing on your device, whereas its working fine on my device. Let me check few things on my side.

[2020-06-04 13:03] naveedahmed1 commented on #94
On one of the devices I was able to reproduce the behavior you mentioned above and when i check the console log it says `Unable to subscribe to push. DOMException: Registration failed - push service error`. And its happening with Chrome only, when I test it with other browser e.g. Firefox on same device, it works just fine.

Seems some issue with Chrome, I have verified it with two other push noti

[2020-06-06 20:00] AlexBorsody commented on #42
Got a similar error today in the logs, should this be filed in chromium bugs instead?

Huawei HUAWEI Y7 Prime 2018 (HWLDN-Q), 3072MB RAM, Android 8.0
[code]

[2020-06-08 09:48] andreban commented on #42
@AlexBorsody filing on https://bugs.chromium.org/ or https://github.com/GoogleChrome/android-browser-helper is best - This repository is a demo app that uses the library.

It's also helpful to attach `AndroidManifest.xml` and `build.gradle`, so we know which parameters are being passed to the LauncherActivity, which support library version is being used, etc.

This specific error seems to come fro

[2020-06-08 10:11] andreban commented on #67
@magnusarinell Would you mind pinging me on e-mail? (andreban@) I'd like to understand more.

[2020-06-08 14:01] AlexBorsody commented on #42
OK I think I see what it is, it would be cool if there was a way we could fix the orientation to portrait. The "added from home screen" version respects the orientation set in the website's manifest.json so portrait is locked in that version but not in the TWA build.

[2020-06-08 14:08] andreban commented on #42
+1 to that. The Feature Request is being tracked in this issue: http://crbug.com/989606 It'd be great if you could chime in and add any details you can on what you are building.

[2020-06-09 21:02] magnusarinell commented on #67
Thanks @andreban. I got a reply to my appeal stating that it was unclear after a manual review (at which time I had removed all external links from my website) whether I was the owner of the website and that additional proof thereof was required. I didn't get the time to respond before I received another mail saying that my appeal was accepted, and so I could resubmit my app. I wrote a notice to t

[2020-06-10 08:47] andreban commented on #67
Glad to hear that, thanks for the update!

[2020-06-11 02:12] successful-fella opened #106 "Setting Notifications to true still asks for permission from user"
Hello,

I saw in this [issue](https://github.com/GoogleChromeLabs/svgomg-twa/issues/60#issuecomment-577087204) that user don't have to click allow by themselves. I haven't override any class and directly had set enableNotifications in gradle to true. I'm not immediately requesting for permission on application open, I request it when user logs in their account.
In this case I was expecting to have

[2020-06-11 09:07] andreban commented on #106
Would you mind filing this issue against https://github.com/GoogleChrome/android-browser-helper? (this repository is just the sample app and doesn't use notifications itself).

It would also help if the Android device model and version, the Chrome version and version of the library used in the project (inside app/build.gradle) are being used.

[2020-06-17 12:26] bsde1234 commented on #45
Hi,
I have asked a question in https://stackoverflow.com/questions/61517599/hide-div-in-a-custom-tab-opened-from-a-trusted-web-activity
Let me explain a littile bit more.

My twa website is https://www.monsoonmalabar.com/
In the above site there is a link to external site which is https://keralapsc.monsoonmalabar.com/ when clicking this link in twa app, this link openes in in-app browser. In that

[2020-06-18 08:54] GF- commented on #17
Hi all,
a heads up: if Firefox is set as a default browser on the Android settings of your device, then the address bar will show up regardless.
In my case assetlinks and signatures were all configured correctly, but the address bar went away once I actually set Chrome as default browser.

I hope that helps.

[2020-06-18 08:55] GF- commented on #4
Hi all,
a heads up: if Firefox is set as a default browser on the Android settings of your device, then the address bar will show up regardless.
In my case assetlinks and signatures were all configured correctly, but the address bar went away once I actually set Chrome as default browser.

I hope that helps.

[2020-06-18 15:55] AlexBorsody commented on #4
If someone is technical enough to be able to/want to do that, they will probably understand what PWAs are and not be bothered by it or even think it's cool.

There is a long way to go regarding this stuff though, sharing state with the browser is another big gotcha.

[2020-06-19 21:02] #45 closed

[2020-06-19 21:04] bsde1234 opened #107 "Hide div in twa in-app browser"
Hi,
I have asked a question in https://stackoverflow.com/questions/61517599/hide-div-in-a-custom-tab-opened-from-a-trusted-web-activity
Let me explain a littile bit more.

My twa website is https://www.monsoonmalabar.com/
In the above site there is a link to external site which is https://keralapsc.monsoonmalabar.com/ when clicking this link in twa app, this link openes in in-app browser. In that

[2020-06-24 11:48] naveedahmed1 commented on #94
@PEConn just wanted to check if you were able to reproduce the issue?

[2020-06-29 17:51] sensoryapphouse opened #108 "Running the TWA from a Chromebook just opens the URL in the browser and not a standalone window"
**Describe the bug**
When I download a TWA built like this project on Chromebooks it only launches the URL inside the Chrome browser and not as a standalone webview. If I install as a PWA then it runs correctly inside a standalone browser. The website is also not cached while running from the TWA unlike the PWA.

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://play.google.com

[2020-06-30 10:23] PEConn commented on #108
We're working on supporting TWAs in ChromeOS ([bug here](https://bugs.chromium.org/p/chromium/issues/detail?id=1026472)). What version of ChromeOS are you using?

[2020-07-01 04:34] izyexcel commented on #67
@andreban I got the same message of webview rejection.

App was built with PWABuilder I have DAF on the domains.

[2020-07-01 04:56] matthewhartman commented on #67
Hey Guys,

I managed to get this issue resolved. Going to give a bit of background.

I had 2 websites:
* 1 website for marketing (oppositesgame.com)
* 1 for the PWA (opposites.app)

Turns out, I had hosted the Privacy Policy on the marketing website (oppositesgame.com).

After moving my privacy policy to my PWA domain (opposites.app) - I resubmitted the app and it got approved.

I hope this helps

[2020-07-01 06:01] andreban commented on #67
What's the url / package name for the app?

[2020-07-01 08:56] izyexcel commented on #67
@andreban

Url
app.foodrun.ng

Package name
ng.foodrun.orderapp

[2020-07-01 09:23] matthewhartman commented on #67
Hey @izyexcel

Where is the privacy policy located? You need to have a privacy policy in order to get approval.

See example:
https://opposites.app/privacy-policy.html

You also need to specify this URL in the privacy policy section.

[2020-07-01 12:36] izyexcel commented on #67
@matthewhartman There is a privacy policy url

www.foodrun.ng/privacy

[2020-07-01 12:45] matthewhartman commented on #67
I'm noticing a couple of things:

1. Your app is on a subdomain with a secure URL (https)
2. The URL where the privacy policy exists is insecure (http)

It might be worth changing the privacy policy to be hosted on the app.foodrun.ng domain and try re-submitting it.

Also, where is your app? When I visit app.foodrun.ng - All I see is a website. Maybe this is why they are rejecting your submission.

[2020-07-06 06:02] Husseinhj commented on #106
I don't understand, is there any way to act notification like _Android native_?

**For instance:**
1. In Android native, notification permission by default is granted.

2. In Android native, when users click on notification application will be opened.
(But in TWA, it's different behavior and the Chrome browser opened not the application.)

3. Can we detect uninstall TWA application like Android Na

[2020-07-06 06:37] successful-fella commented on #106
@Husseinhj  Haven't figured out the first, but for second you may want to check the protocol and exact service worker registered URL (for example if it's https://abc.com/test, notification URL should go along same https://abc.com/test/$1/...)
I can confirm that clicking on notification properly opens in app instead of Google Chrome. Same happens when clicking application URL from other source such

[2020-07-06 07:07] Husseinhj commented on #106
@successful-fella
Thanks for your swift answer.

For the WEB users on Android, the user should grant notification permission by pressing on the **allowed** button. In Android native application user notifications **by default are granted** and engagement between users will be easier because they always are opted-in on Notification channels, So it's a very important issue to have opted-in users lik

[2020-07-06 07:20] successful-fella commented on #106
@Husseinhj No, I don't think this is deep linking. What happens is Chrome opens the application when request from external app or webpush matches service worker URL pattern (at least this is what I think how it works). Maybe you should try adjusting the URL. It's working for me though.

Also yes allowing notification in app is a bad user experience and [notification delegation](https://github.com/

[2020-07-06 08:33] Husseinhj commented on #106
Me neither. I try to enable `enableNotifications` but it doesn't work and I'm confused about that.

I'll check this out. Thanks.

@successful-fella Do you have any idea about uninstalling application tracking in TWA?
(I'm sure in WEB to uninstall mean's user unregister service worker by clearing their browser cache)

[2020-07-06 13:58] FluorescentHallucinogen commented on #60
@PEConn @andreban @b1tr0t Will permission delegation (for notifications and/or geolocation) work for WebAPK (not only TWA)?

[2020-07-06 15:39] PEConn commented on #60
It doesn't at the moment - implementing it is do-able, but not on our current roadmap. I'll leave it to @b1tr0t to determine prioritization.

The notification permission for TWAs is enabled by default because that is the norm for Android apps. For WebAPKs though, since they're installed through Chrome, not through the Play Store, maybe we need to consider different user expectations.

[2020-07-06 16:34] FluorescentHallucinogen commented on #60
@PEConn Thanks for your reply!

Why am I asking? I see a lot of issues with "[WebAPK/TWA merging]" prefix in title in https://crbug.com. My question is not about _notification_ permission delegation, but about permission delegation in general (e.g. for upcoming geolocation permission delegation). The fact that in order to change permissions for the _app_ users need to go to the _browser_ is bad UX

[2020-07-06 17:44] ramonwanderley commented on #83
Any predictions to officially release?

[2020-07-06 17:44] sensoryapphouse commented on #108
Chrome Version 83.0.4103.112 32 bit.

[2020-07-07 07:58] PEConn commented on #108
Support should be coming in Chrome 85. You'll also need to make sure that your TWA was created with an up to date version of `android-browser-helper`. If you create it through [bubblewrap](https://github.com/GoogleChromeLabs/bubblewrap), that should work.

[2020-07-07 14:06] PEConn commented on #60
Yeah, so we went to a fair amount of effort over the last year to combine the Chrome code backing TWAs and WebAPKs and while that would definitely make extending permission delegation to WebAPKs easier, launching that would be a product question, so we're not going to turn it on without some thought.

We've been working on location delegation - you can see some of the progress [here](https://bugs.

[2020-07-14 02:15] zhelingwang opened #109 "TWA app can't run independently without running chrome browser first"
Without running chrome browser firstly , TWA app will block at splash screen . But by running browser firstly , TWA app runs normally. Why?

[2020-07-16 21:06] sensoryapphouse commented on #108
I will try this thank you.

[2020-07-20 17:53] sensoryapphouse commented on #108
Mark as fixed as of Chrome 85 :+1:

[2020-07-21 09:51] #108 closed

[2020-08-22 06:57] the-white-tiger commented on #70
@leolux I am working on something similar as you i.e. multiple twa on same domain . I want to know if the above solution worked for you and also how did you manage to enable push notifications in the three TWAs

[2020-08-22 08:06] PEConn commented on #70
Push notifications should work with multiple TWAs for the same origins, although the state is a little messy.

Basically, Chrome's permission model is keyed by the origin - so you've got the same notification permission for www.example.com, www.example.com/path and www.example.com/longer/path. For notification delegation auto-enrollment (where Chrome grants your website the notification permission

[2020-08-22 09:53] the-white-tiger commented on #70
thanks for help @PEConn . Can you please also check this stackoverflow  [thread](https://stackoverflow.com/questions/63533523/fcm-push-notifications-on-mutliple-twa-on-same-domain) where I have asked my question more elaborately. Thanks

[2020-09-22 01:51] jitendra1607 commented on #70
@andreban @PEConn
How to generate 'assetslinks.json' dynamically if i have thousands of PWA (pwa1, pwa2 .... so on). Can I add query param or path variable to the request(initiated from android for verification) decide the respective 'assetslinks.json' to be served from server?

[2020-09-23 09:31] infinitycodio commented on #17
Hi.. I've followed this.. But still the issue persists. Verified SHA256 certificate from Play Console as well.

[2020-09-23 09:54] andreban commented on #17
This repository has been deprecated and we're not actively looking into issues here. I'd recommend asking questions on StackOverflow, on the specific [trusted-web-activity](https://stackoverflow.com/questions/tagged/trusted-web-activity/) tag or, if this is a bug, filing against https://github.com/GoogleChrome/android-browser-helper

[2020-09-30 07:16] shakazullu94 commented on #83
@andreban Hi, any updates on this?

Since google decided to ditch [3rd party billings](https://techcrunch.com/2020/09/28/google-play-to-better-enforce-in-app-purchase-policies-ease-use-of-third-party-android-app-stores/) in upcoming period, I believe this became even bigger questions to some of us..

I've made some research and found your answers around web eg. (https://stackoverflow.com/questions

[2020-09-30 10:03] andreban commented on #83
This repository is deprecated and we're not actively reading new issues here. You will be interested in https://github.com/GoogleChrome/android-browser-helper/issues/170.

[2020-09-30 10:08] andreban commented on #104
Closing the issue. Please, report an issue on https://github.com/GoogleChrome/android-browser-helper if this still a problem.

[2020-09-30 10:08] #104 closed

[2020-09-30 10:09] andreban commented on #109
This repository is deprecated. I'd recommend filing an issue gains https://github.com/GoogleChrome/android-browser-helper

[2020-09-30 10:09] #109 closed

[2020-09-30 10:10] andreban commented on #107
This repository is deprecated. Please, follow-up on StackOverflow.

[2020-09-30 10:10] #107 closed

[2020-09-30 10:11] andreban commented on #106
This repository is deprecated and we're not actively looking into issues. here. Please file issue against https://github.com/GoogleChrome/android-browser-helper.

[2020-09-30 10:11] #106 closed

[2020-10-23 23:42] shrw opened #111 "Android TV app"
I was trying to run the app published(created with this library) on play store on my Android TV

I/OpenGLRenderer: Davey! duration=1588ms; Flags=0, IntendedVsync=85294375864, Vsync=85294375864, OldestInputEvent=9223372036854775807, NewestInputEvent=0, HandleInputStart=85300204600, AnimationStart=85300236800, PerformTraversalsStart=85300260700, DrawStart=85300629400, SyncQueued=85300648400, SyncSta

[2020-10-24 06:49] andreban commented on #111
This repository is deprecated. This is also duplicate of #91

Trusted Web Activity is not supported on Android TV. There's an issue open here: https://bugs.chromium.org/p/chromium/issues/detail?id=1054737 and I'd recommend starring the issue there to let the team have a better idea of the demand for support.

[2020-10-24 06:49] #111 closed, assigned to nobody

[2020-11-06 21:42] sensoryapphouse commented on #67
Raised a similar issue on https://github.com/pwa-builder/PWABuilder/issues/1223 and got useful input from @andreban, this is our situation regarding our PWA's built as TWA with pwabuilder.com being rejected by Play Store due to Family Policy violations;

Thanks David and @andreban for the responses. We did submit as TWA using PWABuilder, so it clearly looks like a policy issue. Andre provides the

[2020-11-24 08:24] 7even-ux commented on #15
Hi. I would like to pass FCM token in the url. My code doesnt work everytime, i think needs a delay but i cant handle it. Any hint wwould be much apreciated.
`public class LauncherActivity
        extends com.google.androidbrowserhelper.trusted.LauncherActivity {
    public static String x = null;
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedIn

[2020-11-24 15:14] PEConn commented on #15
Hey,

So first things first, you'll want to use [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper) instead of this repo - it's the newer version we're doing active development on.

OK, so yeah it seems a reasonable assumption that there's some race condition - sometimes the TWA launches before the firebase connection has been made.

Our code currently isn't set up so

[2020-11-24 15:14] PEConn commented on #15
(if you want any more help, could you please create a new issue on Android Browser Helper?)

[2020-12-01 07:53] 7even-ux commented on #15
Thank you for your help. Unfortunately i cant handle it. I made a new issue on Android Browser Helper.  Maybe there i will achive it.

[2020-12-01 11:40] jitendra1607 commented on #70
This is not practical for 1000's PWA's. So I am generating assetliks.json dynamically as needed.

[2020-12-08 03:11] thanhtungka91 opened #112 "open new a tab (url) inside of TWA by browser which is not inside of TWA"
We are running our website inside of TWA but there are some pages that do not belong to our app so we want to open the link by google chrome browser (not inside of our TWA app).
I would like to know is it possible in TWA?

[2020-12-08 11:16] PEConn commented on #112
Hey - this repo is pretty much closed - do you mind opening an issue in [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper) instead?

[2020-12-15 22:51] cxspxr opened #113 "Update Android SDK studio to version 30"
**Describe the bug**
Android Studio default SDK version is now 30, whereas this project uses 29, I think it should be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest Android Studio
2. Try to run this project with SDK version 30

**Expected behavior**
No crashes

[2020-12-16 11:23] PEConn commented on #113
Heya,

This project isn't maintained any more - it has been superseded by [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper).

I had a look through our newer repo and [we mostly use version 30](https://github.com/GoogleChrome/android-browser-helper/search?q=compileSdkVersion), although one or two of the demos are version 29. I filed [a bug](https://github.com/GoogleCh

[2020-12-16 11:38] #113 closed, assigned to nobody

[2021-01-17 04:45] MarcellusMusic opened #114 "Facebook Comments Plugin Not Working in The TWA"
**Describe the bug**
Thank you very much for this Lab. After building a TWA, I have noticed that the Facebook Comments plugin does not function in the app. In my app, users can view articles on item pages where the Facebook Comments plugin typically displays, and then users can add comments there.

**To Reproduce**
Steps to reproduce the behavior:
1. First, I scrolled to the comments section and w

[2021-01-20 22:35] CVeniamin commented on #103
@andreban, thank you for making that example!
I gave it a go, however for some reason Chrome browser would still handle the notification and the `onNotifyNotificationWithChannel` method in`NotificationDelegationService` does not seem to be called. I also attempted to change the channel name as per the comment in the https://github.com/GoogleChrome/android-browser-helper/pull/93. Could be possible

[2021-02-19 02:37] mshamaseen commented on #40
any updates here?

[2021-02-22 21:34] MarcellusMusic commented on #114
Closing this as I was able to resolve my own issue by enabling third party cookies in chrome, which then caused the Facebook comments plugin to function normally within my TWA.

[2021-02-22 21:34] #114 closed, assigned to nobody

[2021-03-01 23:32] mshamaseen commented on #58
Is there any way on the earth to do this?

[2021-03-02 13:40] andreban commented on #58
https://stackoverflow.com/questions/62797222/how-to-make-android-app-using-twa-full-screen-immersive

[2021-06-02 14:48] FANMixco commented on #105
This is a real problem. "Valuable Inventory: No content"

[2021-06-30 02:22] dazzledinil commented on #17
Thank you So Much . I was having the same issue

[2021-07-23 15:29] PJMueller83 commented on #67
@andreban

Is there an update on the proposed options to solve this?

Can you confirm that (a) and/or (b) would be accepted by the Google Play review team?

I would like to build a PWA but I need to know whether this is even possible in the Designed for families program.

Thanks
Pjotr

[2021-09-17 04:18] ManalLiaquat commented on #20
@LukasSarnowskiC9 Can you please tell me how did you test your TWA in `chrome canary`? Because TWA always opens in default `chrome` browser. How did you specify to open in canary instead of chrome? Or did you mean `PWA`, not `TWA`?

[2021-10-25 18:21] MKBhagwat opened #115 "How to prevent app from going into background when a class 0 SMS (flash SMS) pops up thus preventing UPI verification."
How to prevent app from going into background when a class 0 SMS (flash SMS) pops up thus preventing UPI verification.

Is there a workaround for this ?
If the app permission is set to - ' This app can appear on top of other apps' - Will it solve the issue of app going into background during flash SMS ?

[2021-11-19 17:14] Rogersuporte commented on #67
Hi, I want to thank you for the TWA code, I was having problems with ANR's but later I updated the dependencies for androidbrowserhelper:1.3.2 and I didn't have any more ANR's.

I'm having another issue and I believe it's caused by the default Google Play settings:
Googlebot is hampering the SEO of the TWA site by searching the app-ads.txt file by generating several 404 errors.
app-ads.txt file is

[2021-11-19 17:46] Rogersuporte opened #116 "Android generating 404 errors on TWA website"

[2021-12-16 10:50] skolhustick commented on #17
For anyone using `bubblewrap-cli` and still confused about how to do this :

1. Go to your Google Play Console and click on your app to open the app's Dashboard
2. Then on the left menu go to `App integrity` and copy the `SHA-256 certificate fingerprint` under `App signing key certificate`
3. In your terminal, enter command `bubblewrap fingerprint add {SHA-256-that you copied}`. E.g : ` bubblewrap

[2021-12-17 11:10] berarma commented on #67
It's nonsense. Using a WebView isn't fine but using remote requests to show content is alright. The only difference is the technology used to acces the remote content. Reviewing the app is impossible in both cases so there must be some other reason.

Implementing my own data browser doesn't have to be safer than using WebView. I'm talking about WebApps restricted to websites owned by the app devel

[2022-01-04 11:34] PJMueller83 commented on #67
I agree 100%, Bernat.

Is there any update on the situation? What would you suggest developers do to comply with the family policy?  @andreban @b1tr0t

[2022-01-04 11:51] melvas6 commented on #47
Hi,
Is it possible to post the solution here? The website link is down.
Should I just use both keys in  `sha256_cert_fingerprints` or make another relation object as in linking for multiple apps?

[2022-01-04 13:59] PEConn commented on #47
You should make multiple relation objects, for example my assetlinks.json file is:

[code]

[2022-01-05 15:34] melvas6 commented on #47
@PEConn
Thanks a lot for the quick response. It is working.

[2022-01-06 09:29] nolimitdev commented on #67
I do not agree. We do not use server-side content for webview at all. Our apps are rejected althought we load in webview local file using protocol file://webview_assets/index.html which never changes until next app update and its review. Google does not care about it althought it is easily to test fo reviewer... app is working in offline mode because index.html loads all css, js, images also via f

[2022-01-10 08:34] nimabokhar opened #117 "TWA asset ink is updated but address bar is visible"
Hello,
I have some issues with TWA and assetlink.json file.
i have build my twa via bubblewrap and then added the assetlink but i still have the address bar.
how can i fix this?

[2022-01-10 08:54] nimabokhar commented on #117
i have also found that my issue could be caused by this error:
`No app deep linking permission found for com.avakatan.club at pwa.jeanswest.ir.`

[2022-01-10 08:57] PEConn commented on #117
Did this used to work, or is this the first time you're trying it?

Could you share a link to your assetlinks.json?

If you download [this app](https://play.google.com/store/apps/details?id=dev.conn.assetlinkstool&hl=en_GB&gl=US) and use it to inspect your app, it should give you a well formed Digital Asset Links file.

[2022-01-10 09:31] nimabokhar commented on #117
No we did had some success with it in the past, but when we started to update an old app in play store using TWA,
the issues began.

`https://pwa.jeanswest.ir/.well-known/assetlinks.json`

[2022-01-11 11:49] PEConn commented on #117
Did you start using Play Signing in the meantime?

I'd recommend you download the app linked above, it will give you a working asset links file.

[2022-02-05 20:34] rafaeldev opened #118 "Android Browser Helper version"
Hello everyone!

Today the [android-browser-helper](https://github.com/GoogleChrome/android-browser-helper) version have some fixes about launch screen which I think is important to stay in this example project

https://github.com/GoogleChrome/android-browser-helper/releases

[2022-02-07 22:18] rafaeldev commented on #118
https://github.com/GoogleChrome/android-browser-helper/pull/297

[2022-02-08 13:49] PEConn commented on #118
Hey,

This project is pretty much deprecated - people should use android-browser-helper or bubblewrap (previously llama-pack, which is based on android-browser-helper) instead.

[2022-02-08 13:49] #118 closed, assigned to nobody

[2022-03-02 10:29] matthewhartman commented on #67
I am also getting this issue again.

I had an app approved for it and now it's being rejected (I have made no changes since submission passed).

[2022-03-02 10:33] sensoryapphouse commented on #67
That is great. We had a number of rejections, and illogical appeal rejections. So our workaround is just to offer the PWA direct from the websites and rely on user to install. But hardly helps with discovery, or getting apps onto Chromebook for schools

Dave Stevens

[2022-03-02 23:06] matthewhartman commented on #67
Another workaround, is you don't add ages 0 - 12. By doing this, it won't fall into the Families policy.
![Screenshot from 2022-03-03 10-05-53](https://user-images.githubusercontent.com/1294141/156464741-f00d4429-f5de-4edf-82d8-035d5d2a0a64.png)

I think we just need better transparency as to why web view apps get rejected under Family policies. If it's something we need to amend to the privacy po

[2022-03-04 10:20] nolimitdev commented on #67
Yes, removing children age groups is not workaround - it is gave up (game over). Of course that without these groups is app approved but this issue is about it how to publish SPA/PWA for children groups.

By our testing gave up is the only one solution now. Appeals are waste of time. We have tested it and child account must be connected to adult/parent account (note that many children probably use

[2022-03-24 01:33] Rogersuporte opened #119 "Multiple TWAs created for the same domain but google search only indexes one TWA"
Hi @andreban @PEConn, first I want to thank you for the code.
I published 28 TWAs more than 80 days ago, success! no errors for now on Google Play.
It so happens that for now Google Search has only indexed the first TWA in the search, Bing and Yahoo have already indexed them all.
Even having made the association in Google Search Console, the Android app filter does not appear for tracking and the

[2022-03-24 01:36] #116 closed, assigned to nobody

[2022-03-24 06:27] Rogersuporte commented on #119
I received the following response from Google Play:

"Unfortunately, our team's assistance is only limited for supporting developers on Google Play Console. Kindly reach out to Search Console Help to assist you with your concern on the indexing of your app."

For now, I'm understanding that while I've managed to deploy multiple TWAs for the same domain, only the first TWA is indexed in Google sear

[2022-03-26 12:50] Rogersuporte commented on #70
@andreban @PEConn, I managed to implement 28 TWAs for the same domain, it turns out that google search only indexed the first one. Is there any limit? I saw that there is an include command, do I need to split? Can you provide an example if applicable?

Thanks,
Roger

[2022-04-11 15:13] oschettler commented on #67
[izyexcel](https://github.com/izyexcel), may I ask what *DAF* stands for?

[2022-05-03 20:11] sahilrajput03 commented on #35
FYI: I was facing this problem from a few hours and I figured this problem and the problem was I was using different package names when I generated `assetlinks.json` file from the actual packagename which I used while generating the android-project via `bubblewrap init` command.

Happy to see that url bar is now hidden and its amazing!

[2022-07-21 14:44] josh-collinsworth commented on #17
Thank you for saving my sanity @GF-. (PS it also works if you set Edge as the default browser. Guess Chromium is needed.)

[2022-10-03 06:05] TahaSaifee53 commented on #60
Hello,

I had built apk from TWA with notification delegation on. Now, I have integrated fcm to send the notification, and the android apk is getting the notification from web push into apk also. But the tap on notification could not open the apk.(The notification is not from chrome but now it's coming from apk)

Please suggest any way to open apk directly on click of web push from apk.